@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("//fonts.googleapis.com/css?family=Roboto:400,700");
@import url("//fonts.googleapis.com/css?family=Teko:400,600,700");
@import url("//fonts.googleapis.com/css?family=Oswald");
@import url(//cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url("//fonts.googleapis.com/css?family=Titillium+Web");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.activity .page-header {
  border-bottom: 1px solid #d72442; }
  .activity .page-header .sub-visual {
    background-position: 50% 50%;
    background-image: url(/assets/images/activity/bg_activity_page_header.jpg); }
  .activity .page-header .lnb-nav ul li {
    width: 50%; }
    .activity .page-header .lnb-nav ul li:after {
      content: ""; }
    .activity .page-header .lnb-nav ul li.active a {
      background-color: #d72442; }
    @media (min-width: 768px) {
      .activity .page-header .lnb-nav ul li {
        width: 25%; }
        .activity .page-header .lnb-nav ul li.active a {
          border-color: rgba(215, 36, 66, 0.8);
          background-color: rgba(215, 36, 66, 0.8); }
        .activity .page-header .lnb-nav ul li:hover a {
          border-color: rgba(215, 36, 66, 0.8);
          background-color: rgba(215, 36, 66, 0.8); } }

.section-content {
  margin-top: 60px;
  padding-bottom: 120px; }
  @media (min-width: 768px) {
    .section-content {
      margin-top: 40px;
      padding-bottom: 130px; } }
  @media (min-width: 992px) {
    .section-content {
      margin-top: 55px;
      padding-bottom: 185px; } }

.target .section-content article .purpose {
  text-align: center;
  padding: 75px 0 60px;
  background-image: url(/assets/images/activity/bg_target.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .target .section-content article .purpose h4 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Titillium Web', sans-serif; }
  .target .section-content article .purpose hr {
    width: 30px;
    display: block;
    margin: 30px auto 40px;
    border-top: 2px solid #d62642; }
  .target .section-content article .purpose p {
    font-size: 14px;
    color: #fff;
    line-height: 28px;
    font-family: 'NanumSquare', sans-serif; }
.target .section-content article .article-content {
  font-family: 'NanumSquare', sans-serif;
  margin-top: 70px; }
  .target .section-content article .article-content > ul > li ~ li .item {
    margin-top: 60px; }
  .target .section-content article .article-content > ul > li .item .figure {
    text-align: center; }
    .target .section-content article .article-content > ul > li .item .figure .img-responsive {
      display: inline-block; }
  .target .section-content article .article-content > ul > li .item .details {
    text-align: center;
    margin-top: 35px; }
    .target .section-content article .article-content > ul > li .item .details h5 {
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 30px; }
    .target .section-content article .article-content > ul > li .item .details p {
      font-size: 14px;
      color: #666;
      line-height: 24px; }
@media (min-width: 768px) {
  .target .section-content article .purpose {
    padding: 95px 0 100px; }
    .target .section-content article .purpose h4 {
      font-size: 46px; }
    .target .section-content article .purpose hr {
      margin-top: 20px;
      margin-bottom: 30px; }
    .target .section-content article .purpose p {
      font-size: 16px; }
  .target .section-content article .article-content {
    margin-top: 60px; }
    .target .section-content article .article-content > ul > li ~ li .item {
      margin-top: 70px; }
    .target .section-content article .article-content > ul > li .figure {
      line-height: 92px; }
    .target .section-content article .article-content > ul > li:nth-of-type(2n + 1) {
      clear: both; }
    .target .section-content article .article-content > ul > li:nth-of-type(2) .item {
      margin-top: 0; } }
@media (min-width: 992px) {
  .target .section-content article .article-content {
    margin-top: 80px; }
    .target .section-content article .article-content > ul > li ~ li .item {
      margin-top: 80px; }
    .target .section-content article .article-content > ul > li:nth-of-type(2n + 1) {
      clear: none; }
    .target .section-content article .article-content > ul > li:nth-of-type(3n + 1) {
      clear: both; }
    .target .section-content article .article-content > ul > li:nth-of-type(3) .item {
      margin-top: 0; } }

.business .section-content {
  padding-bottom: 0 !important; }
  .business .section-content .business-area > li ~ li {
    margin-top: 50px; }
  .business .section-content .business-area > li .details {
    max-width: 580px;
    margin: 0 auto;
    font-family: 'NanumSquare', sans-serif; }
    .business .section-content .business-area > li .details .caption {
      font-size: 0; }
      .business .section-content .business-area > li .details .caption strong {
        font-size: 39px;
        color: #d72643;
        display: inline-block;
        margin-right: 20px;
        font-family: 'Oswald', sans-serif; }
      .business .section-content .business-area > li .details .caption .title {
        position: relative;
        top: 2px;
        display: inline-block;
        font-size: 15px;
        color: #333;
        font-weight: bold;
        line-height: 22px; }
    .business .section-content .business-area > li .details .summary {
      font-size: 13px;
      color: #777;
      line-height: 22px;
      margin: 20px 0 25px; }
  .business .section-content .business-area > li .item {
    max-width: 580px;
    margin: 0 auto; }
    .business .section-content .business-area > li .item figure .img-responsive {
      margin: 0 auto; }
  @media (min-width: 768px) {
    .business .section-content .business-area > li {
      overflow: hidden; }
      .business .section-content .business-area > li ~ li {
        margin-top: 0; }
      .business .section-content .business-area > li > div {
        width: 50%; }
      .business .section-content .business-area > li:nth-child(odd) .details {
        float: left; }
      .business .section-content .business-area > li:nth-child(odd) .item {
        float: right; }
      .business .section-content .business-area > li:nth-child(even) .details {
        float: right; }
      .business .section-content .business-area > li:nth-child(even) .item {
        float: left; }
      .business .section-content .business-area > li .details {
        position: relative;
        max-width: 100%;
        height: 219px; }
        .business .section-content .business-area > li .details .vertical-box {
          position: absolute;
          top: 0;
          left: 0;
          display: table;
          width: 100%;
          height: 100%; }
          .business .section-content .business-area > li .details .vertical-box .txt {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            padding: 0 20px; }
            .business .section-content .business-area > li .details .vertical-box .txt .summary {
              padding-left: 55px;
              margin-bottom: 0; }
      .business .section-content .business-area > li .item {
        max-width: 100%; }
        .business .section-content .business-area > li .item figure .img-responsive {
          max-height: 219px; } }
  @media (min-width: 992px) {
    .business .section-content .business-area > li .details {
      height: 290px; }
      .business .section-content .business-area > li .details .vertical-box .txt strong {
        font-size: 56px; }
      .business .section-content .business-area > li .details .vertical-box .txt .title {
        top: 0;
        font-size: 20px;
        line-height: 30px; }
      .business .section-content .business-area > li .details .vertical-box .txt .summary {
        font-size: 16px;
        line-height: 26px;
        padding-left: 76px;
        margin-top: 30px; }
    .business .section-content .business-area > li .item figure .img-responsive {
      max-height: 290px; } }
  @media (min-width: 1200px) {
    .business .section-content .business-area > li .details {
      height: 351px; }
      .business .section-content .business-area > li .details .vertical-box .txt {
        padding: 0 80px 0 60px; }
    .business .section-content .business-area > li .item {
      max-width: 100%; }
      .business .section-content .business-area > li .item figure .img-responsive {
        max-height: 351px; } }

/*# sourceMappingURL=activity.css.map */
