@import 'common';

// 공통
.section-header {
    text-align: center;
    padding-bottom: 30px;
    .section-title {
        display: inline-block;
        font-size: 32px;
        color: #2b2b2b;
        font-weight: 500;
        @include teko();
    }
    p {
        font-size: 14px;
        color: #2b2b2b;
        line-height: 20px;
        font-weight: 400;
        margin-top: 20px;
    }
    @media(min-width: $sm) {
        padding-bottom: 40px;
        .section-title {
            font-size: 42px;
        }
        p {
            font-size: 16px;
            margin-top: 30px;
        }
    }
    @media(min-width: $lg) {
        padding-bottom: 75px;
        .section-title {
            font-size: 52px;
        }
        p {
            font-size: 18px;
            margin-top: 25px;
        }
    }
}


// main visual
#introduce {
	position: relative;
	.intro-item {
		height: 420px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-color: #2b2b2b;
		.figure {
			z-index: 0;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -210px;
            width: 100%;
			height: 420px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			-ms-transform: scale(1.4);
			-webkit-transform: scale(1.4);
			transform: scale(1.4);
			@include trans($prop: transform, $sec: 10s);
		}
		.video {
            display: none;
			z-index: 1;
			position: absolute;
			left: 0;
			top: 0;
			height: 420px;
			background-color: #000;
			-ms-transform: scale(2.5);
			-webkit-transform: scale(2.5);
			transform: scale(2.5);
		}
		.content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            opacity: 0;
            @include transition($duration: .50s);
            transform: scale(0);
            -ms-transform: scale(0);
            .txt {
                display: table;
                width: 100%;
                height: 100%;
                .vertical-box {
                    display: table-cell;
                    height: 100%;
                    width: 100%;
                    color: #fff;
                    vertical-align: middle;
                    text-align: center;
                    h2 {
                        font-size: 60px;
                        line-height: 70px;
                        font-weight: bold;
                        letter-spacing: 5px;
                        @include oswald();
                    }
                    .bar {
                        display: block;
                        margin: 30px 0;
                        span {
                            width: 80px;
                            height: 1px;
                            display: block;
                            margin: 1px auto;
                            background-color: #fff;
                        }
                    }
                    p {
                        font-size: 13px;
                        line-height: 23px;
                    }
                }
            }
		}
		&.active {
			.figure {
				-ms-transform: scale(1);
				-webkit-transform: scale(1);
				transform: scale(1);
			}
            .content {
                opacity: 1;
                transform: scale(1);
            }
		}
	}
	.bx-controls {
		.bx-controls-direction {
			display: none;
		}
	}
    .bx-pager-img {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 30px;
        font-size: 0;
        z-index: 99;
        > a {
            display: inline-block;
            width: 14px;
            height: 14px;
            margin: 0 4px;
            border: 1px solid #a4a4a4;;
            border-radius: 50%;
            .figure {
                display: none;
            }
            &.active {
                background-color: #a4a4a4;
            }
        }
    }
	@media (min-width: $sm) {
		.intro-item {
			height: 680px;
			.figure {
				margin-top: -340px;
				height: 680px;
				& + .video {
					display: block;
				}
			}
			.video {
				width: 100%;
				height: 750px;
				-ms-transform: scale(1.8);
				-webkit-transform: scale(1.8);
				transform: scale(1.8);
			}
			.content {
                .txt {
                    .vertical-box {
                        h2 {
                            font-size: 100px;
                            line-height: 130px;
                        }
                        .bar {
                            display: block;
                            margin: 50px 0 45px;
                            span {
                                width: 168px;
                            }
                        }
                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
			&.active {
				.content {
					
				}
			}
		}
		.bx-pager-img {
            bottom: 35px;
            > a {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: 0 5px;
            }
        }
	}
	@media (min-width: $lg) {
		.intro-item {
			height: 660px;
			.figure {
				margin-top: -330px;
				height: 660px;
			}
			.video {
				height: 660px;
				-ms-transform: scale(1.5);
				-webkit-transform: scale(1.5);
				transform: scale(1.5);
			}
            .content {
                padding-bottom: 150px;
                .txt {
                    .vertical-box {
                        h2 {
                            font-size: 110px;
                            line-height: 130px;
                        }
                    }
                }
            }
			&.active {
                .container {
                    
                }
			}
		}
		.bx-controls {
			.bx-controls-direction {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1170px;
                margin-left: -585px;
                margin-top: -20px;
                padding-bottom: 150px;
				display: block;
                z-index: 51;
                a {
                    font-size: 40px;
                    color: #fff;
                    text-decoration: none;
                    &.bx-prev {
                        float: left;
                    }
                    &.bx-next {
                        float: right;
                    }
                }
			}
		}
        .bx-pager-img {
            bottom: 55px;
            > a {
                display: inline-block;
                width: 220px;
                height: 90px;
                margin: 0;
                border-radius: 0;
                border: 0;
                background: none !important;
                .figure {
                    position: relative;
                    width: 220px;
                    height: 90px;
                    display: block;
                    @include transition();
                    
                    img {
                        width: 100%;
                        height: 100%
                    }
                    .hover-box {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 90;
                        background-color: rgba(#000, .5);
                    }
                    .summary {
                        position: absolute;
                        top: 1px;
                        left: 1px;
                        width: 100%;
                        height: 100%;
                        font-size: 16px;
                        color: #fff;
                        font-weight: 300;
                        line-height: 24px;
                        padding: 20px;
                        text-align: left;
                        z-index: 91;
                    }
                }
                &.active {
                    .figure {
                        background-color: rgba(#000, 0);
                        border: 1px solid #fff;
                        .hover-box {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 999;
                            background-color: rgba(#000, .0);
                        }
                    }
                }
            }
        }
	}
}


#success-plan {
    height:311px;
    @media(min-width: $sm) {
        height: 388px;
    }
    @media(min-width: $lg) {
        height:393px;
    }
    .motion {
        position: relative;
        text-align: center;
//        padding: 65px 0;
        height:311px;
        > ul {
            display: inline-block;
            font-size: 0;
            > li {
                display: inline-block;
                
                opacity:0; 
                position:absolute;
                top:76px;
                left:50%;
                margin-left:-17px;
                &:nth-child(even) {
                    padding-top: 30px;
                }
            }
        }
        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            > .details {
                display: table;
                width: 100%;
                height: 100%;
                > .vertical-box {
                    display: table-cell;
                    height: 100%;
                    vertical-align: middle;
                    .success-count {
                        font-size: 52px;
                        color: #222;
                        font-weight: 600;
                        @include oswald();
                        letter-spacing: 5px;
                    }
                    b {
                        display: block;
                        font-size: 14px;
                        color: #454545;
                        line-height: 24px;
                        margin-top: 10px;
                        font-weight: 400;
                    }
                }
            }
        }
        @media(min-width: $sm) {
            height:388px;
            > ul {
                > li {
                    top:89px;
                    margin-left:-21px;
                    &:nth-child(even) {
                        padding-top: 42px;
                    }
                }
            }
            .content {
                > .details {
                    > .vertical-box {
                        .success-count {
                            font-size: 70px;
                        }
                        b {
                            font-size: 22px;
                            line-height: 32px;
                        }
                    }
                }
            }
        }
        @media(min-width: $lg) {
            height:393px;
            > ul {
                > li {
                    top:39px;
                    margin-left:-31px;
                    &:nth-child(even) {
                        padding-top: 62px;
                    }
                }
            }
            .content {
                > .details {
                    > .vertical-box {
                        .success-count {
                            font-size: 100px;
                        }
                        b {
                            font-size: 28px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
}



// 연예인 홍보 영상
.entertainer-cheer {
    overflow: hidden;
    > .item {
        position: relative;
        float: left;
        width: 50%;
        height: 180px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        &:nth-of-type(1) {
            background-image: url(/assets/images/main/entertainer_cheer_img01.jpg);
        }
        &:nth-of-type(2) {
            background-image: url(/assets/images/main/entertainer_cheer_img02.jpg);
        }
        &:nth-of-type(3) {
            background-image: url(/assets/images/main/entertainer_cheer_img03.jpg);
        }
        &:nth-of-type(4) {
            background-image: url(/assets/images/main/entertainer_cheer_img04.jpg);
        }
        .details {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 180px;
            padding-top: 60px;
            text-align: center;
            background-color: rgba(0, 0, 0, .4);
            p {
                font-size: 15px;
                color: #fff;
            }
            .btn-more {
                margin-top: 14px;
                .btn-default {
                    width: 105px;
                    height: 26px;
                    font-size: 11px;
                    color: #464645;
                    line-height: 26px;
                    padding: 0;
                    border: 0;
                    text-align: center;
                    border-radius: 0;
                    background-color: #fff;
                    @include transition();
                    &:hover, &:focus {
                        color: #fff;
                        background-color: #666;
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        > .item {
            height: 210px;
            .details {
                height: 210px;
                background-color: rgba(0, 0, 0, .7);
                p {
                    font-size: 18px;
                }
                .btn-more {
                    .btn-default {
                        width: 135px;
                        height: 35px;
                        line-height: 35px;
                        font-size: 14px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        > .item {
            width: 25%;
            .details {
                opacity: 0;
                background-color: rgba(0, 0, 0, .7);
                @include transition($duration: .30s);
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

// 화이트타이거즈 활동
.activity {
    .section-header {
        padding: 65px 0 50px;
    }
    .section-content {
        article {
            .activity-content {
                width: 300px;
                margin: 0 auto;
                padding-bottom: 50px;
                dl {
                    overflow: hidden;
                    dt {
                        float: left;
                        clear: both;
                        font-size: 48px;
                        color: #333;
                        font-weight: bold;
                        @include oswald();
                    }
                    dd {
                        display: inline-block;
                        font-size: 16px;
                        color: #333;
                        font-weight: 500;
                        line-height: 24px;
                        padding: 10px 0;
                        margin-left: 30px;
                    }
                }
                .summary {
                    font-size: 12px;
                    color: #777;
                    line-height: 22px;
                    font-weight: 400;
                    margin-top: 20px;
                    letter-spacing: -.5px;
                }
            }
            .figure {
                .img-responsive {
                    width: 100%;
                }
            }
            &.activity-2 {
                margin-top: 50px;
            }
        }
        .btn-area {
            margin-top: 40px;
            text-align: center;
            p {
                .btn-black {
                    display: inline-block;
                    text-align: center;
                    width: 300px;
                    height: 35px;
                    font-size: 11px;
                    color: #fff;
                    line-height: 35px;
                    padding: 0;
                    border-radius: 0;
                    border: 1px solid #aaa;
                    background-color: #000;
                    @include transition();
                    &:hover, &:focus {
                        opacity: .7;
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .section-header {
            padding: 80px 0 40px;
        }
        .section-content {
            article {
                overflow: hidden;
                > div {
                    float: left;
                    width: 50% !important;
                }
                .activity-content {
                    padding-top: 60px;
                    padding-bottom: 0;
                    .details {
                        padding: 0 45px;
                        dl {
                            dt {
                                font-size: 56px;
                                float: none;
                                display: block;
                            }
                            dd {
                                font-size: 20px;
                                line-height: 30px;
                                padding: 0;
                                margin-left: 0;
                                margin-top: 15px;
                            }
                        }
                        .summary {
                            font-size: 16px;
                            line-height: 26px;
                            margin-top: 30px;
                        }
                    }
                }
                &.activity-2 {
                    margin-top: 0;
                    .activity-content {
                        float: right;
                    }
                    .figure {
                        float: right;
                    }
                }
            }
            .btn-area {
                margin-top: 50px;
                p {
                    .btn-black {
                        width: 330px;
                        height: 64px;
                        font-size: 17px;
                        line-height: 64px;
                        border-color: #000;
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .section-header {
            padding: 120px 0 80px;
        }
        .section-content {
            article {
                .activity-content {
                    padding-top: 50px;
                    .details {
                        max-width: 580px;
                        dl {
                            dt {
                                font-size: 56px;
                                float: left;
                                display: block;
                            }
                            dd {
                                margin-left: 35px;
                            }
                        }
                        .summary {
                            margin-left: 86px;
                        }
                    }
                }
                &.activity-1 {
                    .activity-content {
                        .details {
                            float: right;
                        }
                    }
                }
                &.activity-2 {
                    .activity-content {
                        .details {
                            float: left;
                            .summary {
                                margin-left: 91px;
                            }
                        }
                    }
                }
            }
            .btn-area {
                margin-top: 105px;
            }
        }
    }
    @media(min-width: 1380px) {
        .section-content {
            article {
                .activity-content {
                    padding-top: 65px;
                }
                &.activity-2 {
                    .activity-content {
                        padding-top: 100px;
                    }
                }
            }
        }
    }
    @media(min-width: 1500px) {
        .section-content {
            article {
                .activity-content {
                    padding-top: 80px;
                }
                &.activity-2 {
                    .activity-content {
                        padding-top: 130px;
                    }
                }
            }
        }
    }
}


// instagram
.instagram {
    padding: 60px 0;
    .section-content {
        article {
            overflow: hidden;
            padding: 0 8px;
            .insta-list {
                @media(min-width: $md) {
                    float: left;
                    width: 50%;
                }
                ul {
                    overflow: hidden;
                    li {
                        float: left;
                        width: 25%;
                        padding: 0 2px;
                        .item {
                            display: block;
                            & ~ .item {
                                padding-top: 4px;
                            }
                            &.inline-box {
                                width: 50%;
                                float: left;
                            }
                            &.l-space {
                               padding-left: 2px; 
                            }
                            &.r-space {
                                padding-right: 2px;
                            }
                            a {
                                position: relative;
                                display: block;
                                .content {
                                    display: none;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        &.big-item {
                            width: 50%;
                        }
                        &.test {
                            width: 100%;
                            .item {
                                float: left;
                                width: 25%;
                                padding: 4px 2px 0;
                                &:first-child {
                                    padding-left: 0;
                                }
                                &:last-child {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        padding: 90px 0 80px;
        .section-content {
            padding: 0 21px;
            article {
                padding: 0;
                .insta-list {
                    ul {
                        li {
                            a {
                                
                            }
                            &.space {
                                .inline-box {
                                    padding-top: 0;
                                    padding-bottom: 4px;
                                }
                            }
                            .clear {
                                clear: both;
                                padding-top: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding: 160px 0 110px;
        .section-content {
            padding: 0 48px;
            article {
                .insta-list {
                    ul {
                        li {
                            .item {
                                a {
                                    position: relative;
                                    .content {
                                        display: block !important;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                        background-color: #333;
                                        @include transition($duration: .40s);
                                        > .details {
                                            display: table;
                                            width: 100%;
                                            height: 100%;
                                            > .vertical-box {
                                                display: table-cell;
                                                height: 100%;
                                                vertical-align: middle;
                                                text-align: center;
                                                color: #fff;
                                                .icon-quote-left {
                                                    font-size: 12px;
                                                    display: block;
                                                }
                                                .title {
                                                    font-size: 15px;
                                                    line-height: 20px;
                                                    font-weight: 300;
                                                    margin: 15px 0 10px;
                                                }
                                                p {
                                                    font-size: 13px;
                                                    line-height: 14px;
                                                    font-weight: 300;
                                                    display: inline-block;
                                                    border-bottom: 1px solid #999;
                                                    @include oswald();
                                                }
                                            }
                                        }
                                    }
                                    &:hover, &:focus {
                                        .content {
                                            opacity: 1;
                                        }
                                    }
                                }
                                &.big-content {
                                    a {
                                        .content {
                                            .details {
                                                .vertical-box {
                                                    .icon-quote-left {
                                                        font-size: 25px;
                                                    }
                                                    .title {
                                                        font-size: 30px;
                                                        font-weight: 500;
                                                        line-height: 40px;
                                                        margin: 40px 0 25px;
                                                    }
                                                    p {
                                                        font-size: 25px;
                                                        font-weight: 400;
                                                        line-height: 28px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.space {
                                .inline-box {
                                    padding-top: 0;
                                    padding-bottom: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// 뉴스
.news {
    background-color: #f2f2f2;
    .section-header {
        padding-top: 60px;
    }
    .section-content {
        padding-bottom: 130px;
        article {
            width: 300px;
            margin: 0 auto;
            a {
                text-decoration: none;
                figure {
                    .img-responsive {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
                .details {
                    margin-top: 30px;
                    .caption {
                        font-size: 13px;
                        color: #2b2b2b;
                        line-height: 22px;
                        margin-bottom: 25px;
                    }
                    .content {
                        font-size: 11px;
                        color: #555;
                        line-height: 20px;
                    }
                }
            }
            .more {
                display: inline-block;
                font-size: 11px;
                color: #666;
                margin-top: 30px;
                text-decoration: none;
                @include roboto();
                &:after {
                    font-size: 10px;
                    content: "\F006";
                    font-family: "fontello";
                    margin-left: 10px;
                }
            }
        }
    }
    @media(min-width: $sm) {
        .section-header {
            padding-top: 80px;
        }
        .section-content {
            padding-bottom: 80px;
            article {
                width: 100%;
                a {
                    .details {
                        margin-top: 40px;
                        .caption {
                            font-size: 18px;
                            line-height: 30px;
                            margin-bottom: 30px;
                        }
                        .content {
                            font-size: 14px;
                            line-height: 25px;
                        }
                    }
                }
                .more {
                    font-size: 12px;
                    margin-top: 60px;
                }
            }
        }
    }
    @media(min-width: $lg) {
        .section-header {
            padding-top: 110px;
        }
        .section-content {
            padding-bottom: 160px;
            article {
                a {
                    .details {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}

// movie
.movie {
    background-image: url(/assets/images/main/bg_movie.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    .section-header {
        padding: 60px 0 30px;
    }
    .section-content {
        padding-bottom: 60px;
    }
    @media(min-width: $sm) {
        .section-header {
            padding: 80px 0 50px;
        }
        .section-content {
            padding-bottom: 110px;
        }
    }
    @media(min-width: $lg) {
        .section-header {
            padding: 110px 0 60px;
        }
        .section-content {
            padding-bottom: 110px;
        }
    }
}





// 후원
.sponsors {
    padding: 20px 0;
    background-color: #f2f2f2;
    h4 {
        display: none;
    }
    .bx-wrapper {
        display: block;
        margin: 0 auto;
        .bx-viewport {
            .sponsors-list {
                display: block;
                margin: 0 auto;
                li {
                    text-align: center;
                    a {
                        display: inline-block;
                        figure {
                            padding: 0 15px;
                            line-height: 30px;
                            .img-responsive {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        padding: 40px 0;
        .bx-wrapper {
            .bx-viewport {
                .sponsors-list {
                    display: block;
                    margin: 0 auto;
                    li {
                        a {
                            figure {
                                padding: 0 20px;
                                line-height: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding: 60px 0;
        h4 {
            display: inline-block;
            width: 180px;
            font-size: 30px;
            color: #2b2b2b;
            text-align: left;
            font-weight: bold;
            vertical-align: top;
            line-height: 70px;
            @include oswald();
        }
        .bx-wrapper {
            margin-left: 0;
            display: inline-block;
            .bx-viewport {
                .sponsors-list {
                    display: block;
                    margin: 0 auto;
                    li {
                        a {
                            figure {
                                padding: 0 20px;
                                line-height: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
}