@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("//fonts.googleapis.com/css?family=Roboto:400,700");
@import url("//fonts.googleapis.com/css?family=Teko:400,600,700");
@import url("//fonts.googleapis.com/css?family=Oswald");
@import url(//cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.section-header {
  text-align: center;
  padding-bottom: 30px; }
  .section-header .section-title {
    display: inline-block;
    font-size: 32px;
    color: #2b2b2b;
    font-weight: 500;
    font-family: 'Teko', sans-serif; }
  .section-header p {
    font-size: 14px;
    color: #2b2b2b;
    line-height: 20px;
    font-weight: 400;
    margin-top: 20px; }
  @media (min-width: 768px) {
    .section-header {
      padding-bottom: 40px; }
      .section-header .section-title {
        font-size: 42px; }
      .section-header p {
        font-size: 16px;
        margin-top: 30px; } }
  @media (min-width: 1200px) {
    .section-header {
      padding-bottom: 75px; }
      .section-header .section-title {
        font-size: 52px; }
      .section-header p {
        font-size: 18px;
        margin-top: 25px; } }

#introduce {
  position: relative; }
  #introduce .intro-item {
    height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #2b2b2b; }
    #introduce .intro-item .figure {
      z-index: 0;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -210px;
      width: 100%;
      height: 420px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      -ms-transform: scale(1.4);
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 10s;
      transition-duration: 10s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    #introduce .intro-item .video {
      display: none;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      height: 420px;
      background-color: #000;
      -ms-transform: scale(2.5);
      -webkit-transform: scale(2.5);
      transform: scale(2.5); }
    #introduce .intro-item .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      opacity: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      transform: scale(0);
      -ms-transform: scale(0); }
      #introduce .intro-item .content .txt {
        display: table;
        width: 100%;
        height: 100%; }
        #introduce .intro-item .content .txt .vertical-box {
          display: table-cell;
          height: 100%;
          width: 100%;
          color: #fff;
          vertical-align: middle;
          text-align: center; }
          #introduce .intro-item .content .txt .vertical-box h2 {
            font-size: 60px;
            line-height: 70px;
            font-weight: bold;
            letter-spacing: 5px;
            font-family: 'Oswald', sans-serif; }
          #introduce .intro-item .content .txt .vertical-box .bar {
            display: block;
            margin: 30px 0; }
            #introduce .intro-item .content .txt .vertical-box .bar span {
              width: 80px;
              height: 1px;
              display: block;
              margin: 1px auto;
              background-color: #fff; }
          #introduce .intro-item .content .txt .vertical-box p {
            font-size: 13px;
            line-height: 23px; }
    #introduce .intro-item.active .figure {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1); }
    #introduce .intro-item.active .content {
      opacity: 1;
      transform: scale(1); }
  #introduce .bx-controls .bx-controls-direction {
    display: none; }
  #introduce .bx-pager-img {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
    font-size: 0;
    z-index: 99; }
    #introduce .bx-pager-img > a {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 0 4px;
      border: 1px solid #a4a4a4;
      border-radius: 50%; }
      #introduce .bx-pager-img > a .figure {
        display: none; }
      #introduce .bx-pager-img > a.active {
        background-color: #a4a4a4; }
  @media (min-width: 768px) {
    #introduce .intro-item {
      height: 680px; }
      #introduce .intro-item .figure {
        margin-top: -340px;
        height: 680px; }
        #introduce .intro-item .figure + .video {
          display: block; }
      #introduce .intro-item .video {
        width: 100%;
        height: 750px;
        -ms-transform: scale(1.8);
        -webkit-transform: scale(1.8);
        transform: scale(1.8); }
      #introduce .intro-item .content .txt .vertical-box h2 {
        font-size: 100px;
        line-height: 130px; }
      #introduce .intro-item .content .txt .vertical-box .bar {
        display: block;
        margin: 50px 0 45px; }
        #introduce .intro-item .content .txt .vertical-box .bar span {
          width: 168px; }
      #introduce .intro-item .content .txt .vertical-box p {
        font-size: 18px; }
    #introduce .bx-pager-img {
      bottom: 35px; }
      #introduce .bx-pager-img > a {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 5px; } }
  @media (min-width: 1200px) {
    #introduce .intro-item {
      height: 660px; }
      #introduce .intro-item .figure {
        margin-top: -330px;
        height: 660px; }
      #introduce .intro-item .video {
        height: 660px;
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5); }
      #introduce .intro-item .content {
        padding-bottom: 150px; }
        #introduce .intro-item .content .txt .vertical-box h2 {
          font-size: 110px;
          line-height: 130px; }
    #introduce .bx-controls .bx-controls-direction {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1170px;
      margin-left: -585px;
      margin-top: -20px;
      padding-bottom: 150px;
      display: block;
      z-index: 51; }
      #introduce .bx-controls .bx-controls-direction a {
        font-size: 40px;
        color: #fff;
        text-decoration: none; }
        #introduce .bx-controls .bx-controls-direction a.bx-prev {
          float: left; }
        #introduce .bx-controls .bx-controls-direction a.bx-next {
          float: right; }
    #introduce .bx-pager-img {
      bottom: 55px; }
      #introduce .bx-pager-img > a {
        display: inline-block;
        width: 220px;
        height: 90px;
        margin: 0;
        border-radius: 0;
        border: 0;
        background: none !important; }
        #introduce .bx-pager-img > a .figure {
          position: relative;
          width: 220px;
          height: 90px;
          display: block;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          #introduce .bx-pager-img > a .figure img {
            width: 100%;
            height: 100%; }
          #introduce .bx-pager-img > a .figure .hover-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 90;
            background-color: rgba(0, 0, 0, 0.5); }
          #introduce .bx-pager-img > a .figure .summary {
            position: absolute;
            top: 1px;
            left: 1px;
            width: 100%;
            height: 100%;
            font-size: 16px;
            color: #fff;
            font-weight: 300;
            line-height: 24px;
            padding: 20px;
            text-align: left;
            z-index: 91; }
        #introduce .bx-pager-img > a.active .figure {
          background-color: transparent;
          border: 1px solid #fff; }
          #introduce .bx-pager-img > a.active .figure .hover-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            background-color: transparent; } }

#success-plan {
  height: 311px; }
  @media (min-width: 768px) {
    #success-plan {
      height: 388px; } }
  @media (min-width: 1200px) {
    #success-plan {
      height: 393px; } }
  #success-plan .motion {
    position: relative;
    text-align: center;
    height: 311px; }
    #success-plan .motion > ul {
      display: inline-block;
      font-size: 0; }
      #success-plan .motion > ul > li {
        display: inline-block;
        opacity: 0;
        position: absolute;
        top: 76px;
        left: 50%;
        margin-left: -17px; }
        #success-plan .motion > ul > li:nth-child(even) {
          padding-top: 30px; }
    #success-plan .motion .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #success-plan .motion .content > .details {
        display: table;
        width: 100%;
        height: 100%; }
        #success-plan .motion .content > .details > .vertical-box {
          display: table-cell;
          height: 100%;
          vertical-align: middle; }
          #success-plan .motion .content > .details > .vertical-box .success-count {
            font-size: 52px;
            color: #222;
            font-weight: 600;
            font-family: 'Oswald', sans-serif;
            letter-spacing: 5px; }
          #success-plan .motion .content > .details > .vertical-box b {
            display: block;
            font-size: 14px;
            color: #454545;
            line-height: 24px;
            margin-top: 10px;
            font-weight: 400; }
    @media (min-width: 768px) {
      #success-plan .motion {
        height: 388px; }
        #success-plan .motion > ul > li {
          top: 89px;
          margin-left: -21px; }
          #success-plan .motion > ul > li:nth-child(even) {
            padding-top: 42px; }
        #success-plan .motion .content > .details > .vertical-box .success-count {
          font-size: 70px; }
        #success-plan .motion .content > .details > .vertical-box b {
          font-size: 22px;
          line-height: 32px; } }
    @media (min-width: 1200px) {
      #success-plan .motion {
        height: 393px; }
        #success-plan .motion > ul > li {
          top: 39px;
          margin-left: -31px; }
          #success-plan .motion > ul > li:nth-child(even) {
            padding-top: 62px; }
        #success-plan .motion .content > .details > .vertical-box .success-count {
          font-size: 100px; }
        #success-plan .motion .content > .details > .vertical-box b {
          font-size: 28px;
          line-height: 40px; } }

.entertainer-cheer {
  overflow: hidden; }
  .entertainer-cheer > .item {
    position: relative;
    float: left;
    width: 50%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .entertainer-cheer > .item:nth-of-type(1) {
      background-image: url(/assets/images/main/entertainer_cheer_img01.jpg); }
    .entertainer-cheer > .item:nth-of-type(2) {
      background-image: url(/assets/images/main/entertainer_cheer_img02.jpg); }
    .entertainer-cheer > .item:nth-of-type(3) {
      background-image: url(/assets/images/main/entertainer_cheer_img03.jpg); }
    .entertainer-cheer > .item:nth-of-type(4) {
      background-image: url(/assets/images/main/entertainer_cheer_img04.jpg); }
    .entertainer-cheer > .item .details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 180px;
      padding-top: 60px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4); }
      .entertainer-cheer > .item .details p {
        font-size: 15px;
        color: #fff; }
      .entertainer-cheer > .item .details .btn-more {
        margin-top: 14px; }
        .entertainer-cheer > .item .details .btn-more .btn-default {
          width: 105px;
          height: 26px;
          font-size: 11px;
          color: #464645;
          line-height: 26px;
          padding: 0;
          border: 0;
          text-align: center;
          border-radius: 0;
          background-color: #fff;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .entertainer-cheer > .item .details .btn-more .btn-default:hover, .entertainer-cheer > .item .details .btn-more .btn-default:focus {
            color: #fff;
            background-color: #666; }
  @media (min-width: 768px) {
    .entertainer-cheer > .item {
      height: 210px; }
      .entertainer-cheer > .item .details {
        height: 210px;
        background-color: rgba(0, 0, 0, 0.7); }
        .entertainer-cheer > .item .details p {
          font-size: 18px; }
        .entertainer-cheer > .item .details .btn-more .btn-default {
          width: 135px;
          height: 35px;
          line-height: 35px;
          font-size: 14px;
          margin-top: 20px; } }
  @media (min-width: 992px) {
    .entertainer-cheer > .item {
      width: 25%; }
      .entertainer-cheer > .item .details {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .entertainer-cheer > .item .details:hover {
          opacity: 1; } }

.activity .section-header {
  padding: 65px 0 50px; }
.activity .section-content article .activity-content {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 50px; }
  .activity .section-content article .activity-content dl {
    overflow: hidden; }
    .activity .section-content article .activity-content dl dt {
      float: left;
      clear: both;
      font-size: 48px;
      color: #333;
      font-weight: bold;
      font-family: 'Oswald', sans-serif; }
    .activity .section-content article .activity-content dl dd {
      display: inline-block;
      font-size: 16px;
      color: #333;
      font-weight: 500;
      line-height: 24px;
      padding: 10px 0;
      margin-left: 30px; }
  .activity .section-content article .activity-content .summary {
    font-size: 12px;
    color: #777;
    line-height: 22px;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: -.5px; }
.activity .section-content article .figure .img-responsive {
  width: 100%; }
.activity .section-content article.activity-2 {
  margin-top: 50px; }
.activity .section-content .btn-area {
  margin-top: 40px;
  text-align: center; }
  .activity .section-content .btn-area p .btn-black {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 35px;
    font-size: 11px;
    color: #fff;
    line-height: 35px;
    padding: 0;
    border-radius: 0;
    border: 1px solid #aaa;
    background-color: #000;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .activity .section-content .btn-area p .btn-black:hover, .activity .section-content .btn-area p .btn-black:focus {
      opacity: .7; }
@media (min-width: 768px) {
  .activity .section-header {
    padding: 80px 0 40px; }
  .activity .section-content article {
    overflow: hidden; }
    .activity .section-content article > div {
      float: left;
      width: 50% !important; }
    .activity .section-content article .activity-content {
      padding-top: 60px;
      padding-bottom: 0; }
      .activity .section-content article .activity-content .details {
        padding: 0 45px; }
        .activity .section-content article .activity-content .details dl dt {
          font-size: 56px;
          float: none;
          display: block; }
        .activity .section-content article .activity-content .details dl dd {
          font-size: 20px;
          line-height: 30px;
          padding: 0;
          margin-left: 0;
          margin-top: 15px; }
        .activity .section-content article .activity-content .details .summary {
          font-size: 16px;
          line-height: 26px;
          margin-top: 30px; }
    .activity .section-content article.activity-2 {
      margin-top: 0; }
      .activity .section-content article.activity-2 .activity-content {
        float: right; }
      .activity .section-content article.activity-2 .figure {
        float: right; }
  .activity .section-content .btn-area {
    margin-top: 50px; }
    .activity .section-content .btn-area p .btn-black {
      width: 330px;
      height: 64px;
      font-size: 17px;
      line-height: 64px;
      border-color: #000; } }
@media (min-width: 1200px) {
  .activity .section-header {
    padding: 120px 0 80px; }
  .activity .section-content article .activity-content {
    padding-top: 50px; }
    .activity .section-content article .activity-content .details {
      max-width: 580px; }
      .activity .section-content article .activity-content .details dl dt {
        font-size: 56px;
        float: left;
        display: block; }
      .activity .section-content article .activity-content .details dl dd {
        margin-left: 35px; }
      .activity .section-content article .activity-content .details .summary {
        margin-left: 86px; }
  .activity .section-content article.activity-1 .activity-content .details {
    float: right; }
  .activity .section-content article.activity-2 .activity-content .details {
    float: left; }
    .activity .section-content article.activity-2 .activity-content .details .summary {
      margin-left: 91px; }
  .activity .section-content .btn-area {
    margin-top: 105px; } }
@media (min-width: 1380px) {
  .activity .section-content article .activity-content {
    padding-top: 65px; }
  .activity .section-content article.activity-2 .activity-content {
    padding-top: 100px; } }
@media (min-width: 1500px) {
  .activity .section-content article .activity-content {
    padding-top: 80px; }
  .activity .section-content article.activity-2 .activity-content {
    padding-top: 130px; } }

.instagram {
  padding: 60px 0; }
  .instagram .section-content article {
    overflow: hidden;
    padding: 0 8px; }
    @media (min-width: 992px) {
      .instagram .section-content article .insta-list {
        float: left;
        width: 50%; } }
    .instagram .section-content article .insta-list ul {
      overflow: hidden; }
      .instagram .section-content article .insta-list ul li {
        float: left;
        width: 25%;
        padding: 0 2px; }
        .instagram .section-content article .insta-list ul li .item {
          display: block; }
          .instagram .section-content article .insta-list ul li .item ~ .item {
            padding-top: 4px; }
          .instagram .section-content article .insta-list ul li .item.inline-box {
            width: 50%;
            float: left; }
          .instagram .section-content article .insta-list ul li .item.l-space {
            padding-left: 2px; }
          .instagram .section-content article .insta-list ul li .item.r-space {
            padding-right: 2px; }
          .instagram .section-content article .insta-list ul li .item a {
            position: relative;
            display: block; }
            .instagram .section-content article .insta-list ul li .item a .content {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%; }
        .instagram .section-content article .insta-list ul li.big-item {
          width: 50%; }
        .instagram .section-content article .insta-list ul li.test {
          width: 100%; }
          .instagram .section-content article .insta-list ul li.test .item {
            float: left;
            width: 25%;
            padding: 4px 2px 0; }
            .instagram .section-content article .insta-list ul li.test .item:first-child {
              padding-left: 0; }
            .instagram .section-content article .insta-list ul li.test .item:last-child {
              padding-right: 0; }
  @media (min-width: 768px) {
    .instagram {
      padding: 90px 0 80px; }
      .instagram .section-content {
        padding: 0 21px; }
        .instagram .section-content article {
          padding: 0; }
          .instagram .section-content article .insta-list ul li.space .inline-box {
            padding-top: 0;
            padding-bottom: 4px; }
          .instagram .section-content article .insta-list ul li .clear {
            clear: both;
            padding-top: 0 !important; } }
  @media (min-width: 1200px) {
    .instagram {
      padding: 160px 0 110px; }
      .instagram .section-content {
        padding: 0 48px; }
        .instagram .section-content article .insta-list ul li .item a {
          position: relative; }
          .instagram .section-content article .insta-list ul li .item a .content {
            display: block !important;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #333;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .instagram .section-content article .insta-list ul li .item a .content > .details {
              display: table;
              width: 100%;
              height: 100%; }
              .instagram .section-content article .insta-list ul li .item a .content > .details > .vertical-box {
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                text-align: center;
                color: #fff; }
                .instagram .section-content article .insta-list ul li .item a .content > .details > .vertical-box .icon-quote-left {
                  font-size: 12px;
                  display: block; }
                .instagram .section-content article .insta-list ul li .item a .content > .details > .vertical-box .title {
                  font-size: 15px;
                  line-height: 20px;
                  font-weight: 300;
                  margin: 15px 0 10px; }
                .instagram .section-content article .insta-list ul li .item a .content > .details > .vertical-box p {
                  font-size: 13px;
                  line-height: 14px;
                  font-weight: 300;
                  display: inline-block;
                  border-bottom: 1px solid #999;
                  font-family: 'Oswald', sans-serif; }
          .instagram .section-content article .insta-list ul li .item a:hover .content, .instagram .section-content article .insta-list ul li .item a:focus .content {
            opacity: 1; }
        .instagram .section-content article .insta-list ul li .item.big-content a .content .details .vertical-box .icon-quote-left {
          font-size: 25px; }
        .instagram .section-content article .insta-list ul li .item.big-content a .content .details .vertical-box .title {
          font-size: 30px;
          font-weight: 500;
          line-height: 40px;
          margin: 40px 0 25px; }
        .instagram .section-content article .insta-list ul li .item.big-content a .content .details .vertical-box p {
          font-size: 25px;
          font-weight: 400;
          line-height: 28px; }
        .instagram .section-content article .insta-list ul li.space .inline-box {
          padding-top: 0;
          padding-bottom: 4px; } }

.news {
  background-color: #f2f2f2; }
  .news .section-header {
    padding-top: 60px; }
  .news .section-content {
    padding-bottom: 130px; }
    .news .section-content article {
      width: 300px;
      margin: 0 auto; }
      .news .section-content article a {
        text-decoration: none; }
        .news .section-content article a figure .img-responsive {
          width: 100%;
          margin: 0 auto; }
        .news .section-content article a .details {
          margin-top: 30px; }
          .news .section-content article a .details .caption {
            font-size: 13px;
            color: #2b2b2b;
            line-height: 22px;
            margin-bottom: 25px; }
          .news .section-content article a .details .content {
            font-size: 11px;
            color: #555;
            line-height: 20px; }
      .news .section-content article .more {
        display: inline-block;
        font-size: 11px;
        color: #666;
        margin-top: 30px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif; }
        .news .section-content article .more:after {
          font-size: 10px;
          content: "\F006";
          font-family: "fontello";
          margin-left: 10px; }
  @media (min-width: 768px) {
    .news .section-header {
      padding-top: 80px; }
    .news .section-content {
      padding-bottom: 80px; }
      .news .section-content article {
        width: 100%; }
        .news .section-content article a .details {
          margin-top: 40px; }
          .news .section-content article a .details .caption {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 30px; }
          .news .section-content article a .details .content {
            font-size: 14px;
            line-height: 25px; }
        .news .section-content article .more {
          font-size: 12px;
          margin-top: 60px; } }
  @media (min-width: 1200px) {
    .news .section-header {
      padding-top: 110px; }
    .news .section-content {
      padding-bottom: 160px; }
      .news .section-content article a .details {
        margin-top: 50px; } }

.movie {
  background-image: url(/assets/images/main/bg_movie.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .movie .section-header {
    padding: 60px 0 30px; }
  .movie .section-content {
    padding-bottom: 60px; }
    .movie .section-content .bx-wrapper {
      position: relative;
      padding: 0 15px;
      margin: 0 auto; }
      .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -7px;
        font-size: 16px;
        color: #aaa;
        text-decoration: none;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a i:before {
          margin: 0; }
        .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a:hover, .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a:focus {
          color: #333; }
        .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
          left: -5px; }
        .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
          right: -5px; }
  @media (min-width: 768px) {
    .movie .section-header {
      padding: 80px 0 50px; }
    .movie .section-content {
      padding-bottom: 110px; }
      .movie .section-content .bx-wrapper {
        padding: 0 60px;
        margin: 0 auto; }
        .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a {
          position: absolute;
          top: 50%;
          margin-top: -13px;
          font-size: 25px; }
          .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
            left: 0px; }
          .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
            right: 0px; } }
  @media (min-width: 1200px) {
    .movie .section-header {
      padding: 110px 0 60px; }
    .movie .section-content {
      padding-bottom: 110px; }
      .movie .section-content .bx-wrapper {
        width: 100% !important;
        padding: 0; }
        .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a {
          position: absolute;
          top: 50%;
          margin-top: -18px;
          font-size: 36px; }
          .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
            left: -60px; }
          .movie .section-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
            right: -60px; } }

.sponsors {
  padding: 20px 0;
  background-color: #f2f2f2; }
  .sponsors h4 {
    display: none; }
  .sponsors .bx-wrapper {
    display: block;
    margin: 0 auto; }
    .sponsors .bx-wrapper .bx-viewport .sponsors-list {
      display: block;
      margin: 0 auto; }
      .sponsors .bx-wrapper .bx-viewport .sponsors-list li {
        text-align: center; }
        .sponsors .bx-wrapper .bx-viewport .sponsors-list li a {
          display: inline-block; }
          .sponsors .bx-wrapper .bx-viewport .sponsors-list li a figure {
            padding: 0 15px;
            line-height: 30px; }
            .sponsors .bx-wrapper .bx-viewport .sponsors-list li a figure .img-responsive {
              display: inline-block; }
  @media (min-width: 768px) {
    .sponsors {
      padding: 40px 0; }
      .sponsors .bx-wrapper .bx-viewport .sponsors-list {
        display: block;
        margin: 0 auto; }
        .sponsors .bx-wrapper .bx-viewport .sponsors-list li a figure {
          padding: 0 20px;
          line-height: 70px; } }
  @media (min-width: 1200px) {
    .sponsors {
      padding: 60px 0; }
      .sponsors h4 {
        display: inline-block;
        width: 180px;
        font-size: 30px;
        color: #2b2b2b;
        text-align: left;
        font-weight: bold;
        vertical-align: top;
        line-height: 70px;
        font-family: 'Oswald', sans-serif; }
      .sponsors .bx-wrapper {
        margin-left: 0;
        display: inline-block; }
        .sponsors .bx-wrapper .bx-viewport .sponsors-list {
          display: block;
          margin: 0 auto; }
          .sponsors .bx-wrapper .bx-viewport .sponsors-list li a figure {
            padding: 0 20px;
            line-height: 70px; } }

/*# sourceMappingURL=main.css.map */
