@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("//fonts.googleapis.com/css?family=Roboto:400,700");
@import url("//fonts.googleapis.com/css?family=Teko:400,600,700");
@import url("//fonts.googleapis.com/css?family=Oswald");
@import url(//cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url("//fonts.googleapis.com/css?family=Titillium+Web");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.member {
  font-family: 'NanumSquare', sans-serif; }
  .member .section-header {
    padding: 40px 0 45px; }
    @media (min-width: 768px) {
      .member .section-header {
        padding: 90px 0; } }
    @media (min-width: 992px) {
      .member .section-header {
        padding: 85px 0 55px; } }
  .member #content {
    padding-bottom: 100px; }
    @media (min-width: 768px) {
      .member #content {
        padding-bottom: 150px; } }
    @media (min-width: 992px) {
      .member #content {
        padding-bottom: 130px; } }
    .member #content input[type="password"] {
      font-family: 'Nanum Barun Gothic', sans-serif; }

.step-list {
  font-size: 0;
  /*margin-bottom: 60px;*/ }
  .step-list > ul > li {
    width: 33.33%;
    display: inline-block; }
    .step-list > ul > li > p {
      position: relative;
      display: block;
      text-align: center;
      font-size: 13px;
      line-height: 22px;
      color: #666;
      vertical-align: top;
      text-decoration: none; }
      .step-list > ul > li > p:after {
        position: absolute;
        top: 50%;
        right: -3px;
        font-weight: 300;
        font-size: 13px;
        color: #6f848e;
        margin-top: -11px;
        font-family: "fontello";
        content: "\F006"; }
    .step-list > ul > li:last-child > p:after {
      content: ""; }
    .step-list > ul > li.active > p {
      color: #0075bd;
      font-weight: bold; }
      .step-list > ul > li.active > p:after {
        font-weight: 300;
        color: #6f848e; }
  @media (min-width: 768px) {
    .step-list > ul {
      display: table;
      width: 100%; }
      .step-list > ul > li {
        display: table-cell;
        width: 1%; }
        .step-list > ul > li > p {
          font-size: 16px;
          line-height: 82px;
          background-color: #f5f5f5; }
          .step-list > ul > li > p:after {
            content: ""; }
        .step-list > ul > li.active > p {
          color: #fff;
          background-color: #005c94; } }
  @media (min-width: 992px) {
    .step-list > ul > li > p {
      line-height: 56px; } }

.agreement .section-content article {
  margin-top: 60px; }
  @media (min-width: 768px) {
    .agreement .section-content article {
      margin-top: 70px !important; }
      .agreement .section-content article.terms {
        margin-top: 30px; } }
  @media (min-width: 992px) {
    .agreement .section-content article {
      margin-top: 80px !important; }
      .agreement .section-content article.terms {
        margin-top: 50px; } }
  .agreement .section-content article .article-title {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .agreement .section-content article .article-title {
        font-size: 16px; } }
  .agreement .section-content article .article-content {
    height: 265px;
    overflow-y: scroll;
    font-size: 13px;
    color: #666;
    line-height: 22px;
    padding: 15px;
    border: 1px solid #eaeaea; }
    @media (min-width: 768px) {
      .agreement .section-content article .article-content {
        font-size: 14px;
        line-height: 24px; } }
  .agreement .section-content article label {
    display: inline-block;
    font-size: 13px;
    color: #666;
    font-weight: 300;
    margin-top: 15px; }
    .agreement .section-content article label input {
      position: relative;
      top: 2px;
      margin-right: 5px; }
    @media (min-width: 768px) {
      .agreement .section-content article label {
        font-size: 14px; } }
  .agreement .section-content article.join-box {
    text-align: center;
    padding: 60px 0;
    border: 1px solid #eaeaea; }
    .agreement .section-content article.join-box figure figcaption {
      margin-top: 20px; }
      .agreement .section-content article.join-box figure figcaption strong {
        font-size: 18px;
        color: #333;
        font-weight: bold;
        display: inline-block; }
      .agreement .section-content article.join-box figure figcaption p {
        font-size: 13px;
        color: #666;
        line-height: 18px;
        margin-top: 20px; }
    .agreement .section-content article.join-box .btn-area {
      text-align: center;
      margin-top: 25px; }
      .agreement .section-content article.join-box .btn-area p .btn {
        font-size: 13px;
        line-height: 40px;
        border-radius: 0;
        border: 1px solid #dfdfdf;
        text-decoration: none; }
        .agreement .section-content article.join-box .btn-area p .btn.btn-gray {
          width: 140px;
          color: #fff;
          border-color: #777;
          background-color: #777; }
        .agreement .section-content article.join-box .btn-area p .btn.btn-link {
          position: relative;
          display: block;
          width: 170px;
          color: #666;
          margin: 0 auto;
          padding-left: 40px; }
          .agreement .section-content article.join-box .btn-area p .btn.btn-link ~ .btn-link {
            margin-top: 4px; }
          .agreement .section-content article.join-box .btn-area p .btn.btn-link span {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            text-align: center;
            display: block;
            line-height: 40px; }
            .agreement .section-content article.join-box .btn-area p .btn.btn-link span img {
              display: inline-block; }
            .agreement .section-content article.join-box .btn-area p .btn.btn-link span.facebook {
              background-color: #00539e; }
            .agreement .section-content article.join-box .btn-area p .btn.btn-link span.naver {
              background-color: #0cc400; }
            .agreement .section-content article.join-box .btn-area p .btn.btn-link span.google {
              background-color: #f63d27; }
  .agreement .section-content article.simple-join {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .agreement .section-content article.join-box {
      height: 375px;
      padding-top: 80px; }
      .agreement .section-content article.join-box figure figcaption {
        margin-top: 15px; }
        .agreement .section-content article.join-box figure figcaption strong {
          font-size: 20px; }
        .agreement .section-content article.join-box figure figcaption p {
          font-size: 15px;
          line-height: 22px;
          margin-top: 15px; }
      .agreement .section-content article.join-box .btn-area p .btn {
        font-size: 14px; }
    .agreement .section-content article.simple-join {
      padding: 30px 0; } }
  @media (min-width: 1200px) {
    .agreement .section-content article.join-box {
      height: 310px;
      padding: 50px 0 !important; }
      .agreement .section-content article.join-box figure figcaption p br {
        display: none; }
      .agreement .section-content article.join-box .btn-area p .btn.btn-link {
        display: inline-block; }
        .agreement .section-content article.join-box .btn-area p .btn.btn-link ~ .btn-link {
          margin-top: 0;
          margin-left: 5px; } }

.join .section-content .table-wrap {
  margin-top: 40px;
  border: 0; }
  .join .section-content .table-wrap > p.required {
    font-size: 12px;
    color: #e61937;
    text-align: right;
    margin-bottom: 10px; }
    .join .section-content .table-wrap > p.required:before {
      content: "* "; }
  .join .section-content .table-wrap .table {
    margin: 0;
    border: 0;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    text-align: left; }
    .join .section-content .table-wrap .table tbody tr th {
      width: 120px;
      font-size: 13px;
      color: #303030;
      font-weight: 400;
      padding-left: 15px;
      border: 0;
      vertical-align: middle;
      border-bottom: 1px solid #d1d1d1; }
      .join .section-content .table-wrap .table tbody tr th.required:before {
        color: #e61937;
        content: "* "; }
      .join .section-content .table-wrap .table tbody tr th label {
        color: #303030;
        font-weight: 400; }
    .join .section-content .table-wrap .table tbody tr td {
      font-size: 13px;
      padding: 10px;
      border: 0;
      vertical-align: middle;
      border-bottom: 1px solid #d1d1d1; }
      .join .section-content .table-wrap .table tbody tr td .form-group .form-control {
        padding: 5px;
        width: 100%;
        height: 30px;
        border: 1px solid #a2a2a2; }
      .join .section-content .table-wrap .table tbody tr td.e-mail .form-group .form-control {
        width: 41%;
        display: inline-block; }
        .join .section-content .table-wrap .table tbody tr td.e-mail .form-group .form-control:nth-of-type(1) {
          margin-right: 5px; }
        .join .section-content .table-wrap .table tbody tr td.e-mail .form-group .form-control:nth-of-type(2) {
          margin-left: 5px; }
      .join .section-content .table-wrap .table tbody tr td.phone .form-group .form-control {
        display: inline-block;
        width: 24%; }
        .join .section-content .table-wrap .table tbody tr td.phone .form-group .form-control:nth-of-type(1) {
          margin-right: 5px; }
        .join .section-content .table-wrap .table tbody tr td.phone .form-group .form-control:nth-of-type(2) {
          margin: 0 5px; }
        .join .section-content .table-wrap .table tbody tr td.phone .form-group .form-control:nth-of-type(3) {
          margin-left: 5px; }
    .join .section-content .table-wrap .table tbody tr:last-child th {
      border-bottom: 0; }
    .join .section-content .table-wrap .table tbody tr:last-child td {
      border-bottom: 0; }
@media (min-width: 768px) {
  .join .section-content .table-wrap {
    margin-top: 50px; }
    .join .section-content .table-wrap > p.required {
      font-size: 13px; }
    .join .section-content .table-wrap .table tbody tr th {
      width: 140px;
      font-size: 14px;
      padding-left: 20px; }
    .join .section-content .table-wrap .table tbody tr td {
      font-size: 14px;
      padding: 15px 20px; }
      .join .section-content .table-wrap .table tbody tr td .form-group .form-control {
        width: 315px; }
      .join .section-content .table-wrap .table tbody tr td.e-mail .form-group .form-control {
        width: 141px; }
      .join .section-content .table-wrap .table tbody tr td.phone .form-group .form-control {
        width: 89px; }
      .join .section-content .table-wrap .table tbody tr td.addr .form-group .form-control {
        width: 100%; } }
@media (min-width: 992px) {
  .join .section-content .table-wrap {
    margin-top: 60px; }
    .join .section-content .table-wrap .table tbody tr td.addr .form-group .form-control {
      width: 540px; } }

.success .section-content article {
  text-align: center;
  padding: 100px 0 140px; }
  .success .section-content article figure {
    padding: 0 30px; }
    .success .section-content article figure .img-responsive {
      margin: 0 auto; }
  .success .section-content article .summary {
    margin-top: 40px; }
    .success .section-content article .summary small {
      display: block;
      font-size: 14px;
      color: #666;
      font-weight: 400; }
    .success .section-content article .summary strong {
      display: inline-block;
      font-size: 26px;
      color: #333;
      margin-top: 15px; }
      .success .section-content article .summary strong i {
        font-style: normal;
        color: #0075bd; }
  @media (min-width: 768px) {
    .success .section-content article {
      padding: 140px 0 160px; }
      .success .section-content article figure {
        padding: 0; }
      .success .section-content article .summary {
        margin-top: 60px; }
        .success .section-content article .summary small {
          font-size: 16px; }
        .success .section-content article .summary strong {
          font-size: 30px; } }
  @media (min-width: 992px) {
    .success .section-content article {
      padding: 160px 0 200px; } }

.modify .section-content .table-wrap {
  margin: 0 !important; }
  .modify .section-content .table-wrap .table tbody tr td {
    color: #999; }

.login article .article-header {
  text-align: center;
  padding: 60px 0 20px; }
  .login article .article-header h2 {
    font-size: 20px;
    color: #333; }
.login article .article-content .form-group {
  width: 300px;
  margin: 0 auto; }
  .login article .article-content .form-group ~ .form-group {
    margin-top: 10px; }
  .login article .article-content .form-group .form-control {
    height: 40px;
    border: 1px solid #dfdfdf; }
.login article.general-login .article-content .btn-area {
  margin-top: 20px;
  text-align: center; }
  .login article.general-login .article-content .btn-area p .btn-gray {
    width: 300px;
    border: 0;
    line-height: 42px;
    border-radius: 0;
    color: #fff;
    border-color: #5a5a5a;
    background-color: #5a5a5a; }
.login article.general-login .confirm {
  width: 300px;
  margin: 0 auto;
  margin-top: 15px; }
  .login article.general-login .confirm ul {
    font-size: 0; }
    .login article.general-login .confirm ul li {
      display: inline-block; }
      .login article.general-login .confirm ul li a {
        display: inline-block;
        font-size: 13px;
        color: #111; }
      .login article.general-login .confirm ul li:after {
        font-size: 13px;
        color: #111;
        display: inline-block;
        content: "|";
        margin: 0 10px; }
      .login article.general-login .confirm ul li:last-child:after {
        content: "";
        margin: 0; }
.login article.simple-login .btn-area {
  width: 300px;
  margin: 0 auto; }
  .login article.simple-login .btn-area p .btn-link {
    width: 300px;
    position: relative;
    display: block;
    height: 42px;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    text-align: left;
    padding-left: 60px;
    border-radius: 0;
    border: 1px solid #dfdfdf;
    text-decoration: none; }
    .login article.simple-login .btn-area p .btn-link ~ .btn-link {
      margin-top: 10px; }
    .login article.simple-login .btn-area p .btn-link span {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px; }
      .login article.simple-login .btn-area p .btn-link span img {
        display: inline-block; }
      .login article.simple-login .btn-area p .btn-link span.facebook {
        background-color: #00539e; }
      .login article.simple-login .btn-area p .btn-link span.naver {
        background-color: #0cc400; }
      .login article.simple-login .btn-area p .btn-link span.google {
        background-color: #f63d27; }
@media (min-width: 768px) {
  .login {
    padding: 130px 0 180px; }
    .login article {
      padding: 85px 0;
      border: 1px solid #ccc; }
      .login article .article-header {
        padding-top: 0;
        padding-bottom: 30px; }
        .login article .article-header h2 {
          font-size: 22px;
          font-weight: bold; }
      .login article.general-login .article-content {
        position: relative;
        width: 490px;
        margin: 0 auto;
        padding-right: 140px; }
        .login article.general-login .article-content .form-group {
          width: 100%; }
          .login article.general-login .article-content .form-group .form-control {
            height: 45px; }
        .login article.general-login .article-content .btn-area {
          position: absolute;
          top: 0;
          right: 0;
          margin: 0; }
          .login article.general-login .article-content .btn-area p .btn-gray {
            font-size: 16px;
            width: 130px;
            line-height: 100px; }
      .login article.general-login .confirm {
        width: 490px;
        margin-top: 25px; }
        .login article.general-login .confirm ul li a {
          font-size: 16px; }
      .login article.simple-login {
        border-top: 0; }
        .login article.simple-login .btn-area {
          width: 100%;
          margin-top: 40px; }
          .login article.simple-login .btn-area p .btn-link {
            display: inline-block;
            width: 200px; }
            .login article.simple-login .btn-area p .btn-link ~ .btn-link {
              margin: 0;
              margin-left: 10px; } }
@media (min-width: 992px) {
  .login {
    overflow: hidden;
    padding-top: 140px;
    padding-bottom: 250px; }
    .login article {
      padding: 75px 0;
      float: left;
      height: 360px; }
      .login article.general-login {
        width: 60%; }
        .login article.general-login .article-header {
          width: 490px;
          margin: 0 auto;
          text-align: left; }
        .login article.general-login .article-content {
          width: 490px; }
        .login article.general-login .confirm {
          width: 490px; }
      .login article.simple-login {
        width: 40%;
        padding-bottom: 0;
        border-left: 0;
        border-top: 1px solid #ccc; }
        .login article.simple-login .article-header {
          padding-bottom: 0;
          width: 200px;
          margin: 0 auto;
          text-align: left; }
        .login article.simple-login .btn-area {
          width: 200px;
          margin-top: 30px; }
          .login article.simple-login .btn-area p .btn-link {
            display: block; }
            .login article.simple-login .btn-area p .btn-link ~ .btn-link {
              margin-top: 10px;
              margin-left: 0; } }

.member-leave .section-content article .article-header {
  padding: 15px 20px;
  background-color: #0075bd; }
  .member-leave .section-content article .article-header h4 {
    font-size: 14px;
    color: #fff; }
.member-leave .section-content article .article-content {
  padding: 20px;
  border: 1px solid #dfdfdf; }
  .member-leave .section-content article .article-content p {
    font-size: 13px;
    color: #666;
    line-height: 26px; }
    .member-leave .section-content article .article-content p ~ p {
      margin-top: 30px; }
    .member-leave .section-content article .article-content p.attention {
      color: #a67c52; }
.member-leave .section-content .table-wrap {
  margin-top: 60px;
  border: 0; }
  .member-leave .section-content .table-wrap h4 {
    font-size: 18px;
    color: #222;
    margin-bottom: 30px; }
  .member-leave .section-content .table-wrap .table {
    border: 0;
    border-top: 2px solid #000; }
    .member-leave .section-content .table-wrap .table tbody tr th {
      width: 130px;
      font-size: 13px;
      color: #333;
      padding-left: 20px;
      vertical-align: middle;
      border: 0;
      border-bottom: 1px solid #dfdfdf; }
      .member-leave .section-content .table-wrap .table tbody tr th.v-align {
        padding-top: 20px;
        vertical-align: top; }
    .member-leave .section-content .table-wrap .table tbody tr td {
      font-size: 13px;
      color: #666;
      border: 0;
      padding: 20px 0;
      border-bottom: 1px solid #dfdfdf; }
      .member-leave .section-content .table-wrap .table tbody tr td .form-group .form-control {
        width: 100%;
        height: 235px;
        border: 1px solid #dfdfdf; }
.member-leave .section-content .btn-area {
  text-align: center;
  margin-top: 30px; }
  .member-leave .section-content .btn-area p .btn {
    width: 145px;
    border: 0;
    line-height: 40px;
    color: #fff;
    font-size: 13px;
    border-radius: 0; }
    .member-leave .section-content .btn-area p .btn.btn-blue {
      margin-right: 10px;
      background-color: #0075bd; }
    .member-leave .section-content .btn-area p .btn.btn-gray {
      background-color: #777; }
@media (min-width: 768px) {
  .member-leave .section-content article .article-header {
    padding: 20px 30px; }
    .member-leave .section-content article .article-header h4 {
      font-size: 16px; }
  .member-leave .section-content article .article-content {
    padding: 40px 30px; }
    .member-leave .section-content article .article-content p {
      font-size: 14px;
      line-height: 30px; }
      .member-leave .section-content article .article-content p ~ p {
        margin-top: 45px; }
  .member-leave .section-content .table-wrap {
    margin-top: 70px; }
    .member-leave .section-content .table-wrap h4 {
      font-size: 20px; }
    .member-leave .section-content .table-wrap .table tbody tr th {
      width: 150px;
      font-size: 14px; }
    .member-leave .section-content .table-wrap .table tbody tr td {
      padding-left: 25px;
      font-size: 14px; }
      .member-leave .section-content .table-wrap .table tbody tr td .form-group {
        padding-right: 130px; }
  .member-leave .section-content .btn-area {
    margin-top: 50px; }
    .member-leave .section-content .btn-area p .btn {
      width: 95px;
      font-size: 14px; } }

.common-agreement {
  padding-bottom: 150px; }
  @media (min-width: 768px) {
    .common-agreement {
      padding-bottom: 300px; } }
  @media (min-width: 768px) {
    .common-agreement {
      padding-bottom: 450px; } }
  .common-agreement .section-content {
    overflow-y: scroll;
    width: 100%;
    height: 265px;
    font-size: 13px;
    line-height: 28px;
    color: #666;
    padding: 20px;
    border: 1px solid #eaeaea; }
    @media (min-width: 768px) {
      .common-agreement .section-content {
        padding: 15px;
        font-size: 14px;
        line-height: 30px; } }

.confirm-modal {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5); }
  .confirm-modal .modal-dialog {
    margin-top: 100px;
    margin-bottom: 100px; }
    .confirm-modal .modal-dialog .modal-content {
      padding: 0 20px;
      border-radius: 0; }
      @media (min-width: 768px) {
        .confirm-modal .modal-dialog .modal-content {
          width: 620px; } }
      .confirm-modal .modal-dialog .modal-content .summary {
        font-size: 13px;
        color: #666;
        line-height: 18px;
        display: block;
        margin: 10px 0; }
        @media (min-width: 768px) {
          .confirm-modal .modal-dialog .modal-content .summary {
            font-size: 14px;
            line-height: 22px; } }
      .confirm-modal .modal-dialog .modal-content input {
        height: 45px;
        border: 1px solid #cdcdcd; }
      .confirm-modal .modal-dialog .modal-content .modal-header {
        padding: 40px 0;
        border: 0; }
      .confirm-modal .modal-dialog .modal-content .modal-body {
        padding: 0;
        border: 0; }
        .confirm-modal .modal-dialog .modal-content .modal-body .form-group {
          vertical-align: top;
          width: 100%; }
          .confirm-modal .modal-dialog .modal-content .modal-body .form-group input {
            margin-bottom: 10px; }
            @media (min-width: 768px) {
              .confirm-modal .modal-dialog .modal-content .modal-body .form-group input {
                vertical-align: top;
                width: 254px;
                display: inline-block;
                margin: 0; } }
          @media (min-width: 768px) {
            .confirm-modal .modal-dialog .modal-content .modal-body .form-group .summary {
              display: inline-block;
              margin: 0;
              margin-left: 10px;
              margin-bottom: 20px;
              letter-spacing: -.5px; } }
        .confirm-modal .modal-dialog .modal-content .modal-body .capcha-box input {
          display: inline-block;
          width: 100px; }
        .confirm-modal .modal-dialog .modal-content .modal-body .capcha-box .capcha-num {
          display: inline-block;
          margin-left: 10px; }
        @media (min-width: 768px) {
          .confirm-modal .modal-dialog .modal-content .modal-body .capcha-box {
            display: inline-block; } }
      .confirm-modal .modal-dialog .modal-content .modal-footer {
        text-align: left;
        border: 0;
        margin-top: 45px;
        padding: 0;
        padding-bottom: 20px; }
        .confirm-modal .modal-dialog .modal-content .modal-footer .btn {
          position: relative;
          text-align: left;
          font-size: 13px;
          width: 100px;
          color: #fff;
          line-height: 40px;
          padding-left: 15px; }
          @media (min-width: 768px) {
            .confirm-modal .modal-dialog .modal-content .modal-footer .btn {
              width: 156px;
              font-size: 14px; } }
          .confirm-modal .modal-dialog .modal-content .modal-footer .btn:after {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 13px; }
          .confirm-modal .modal-dialog .modal-content .modal-footer .btn.btn-default {
            background-color: #666; }
            .confirm-modal .modal-dialog .modal-content .modal-footer .btn.btn-default:after {
              content: "X"; }
          .confirm-modal .modal-dialog .modal-content .modal-footer .btn.btn-primary {
            background-color: #0075bd; }
            .confirm-modal .modal-dialog .modal-content .modal-footer .btn.btn-primary:after {
              content: "\F105";
              font-family: "fontello"; }

.modal-title {
  font-size: 22px;
  color: #222;
  padding-left: 32px;
  font-family: 'NanumSquare', sans-serif;
  background-size: 22px auto;
  background-image: url(/assets/images/sub/icon_title_logo.png);
  background-repeat: no-repeat;
  background-position: 0 50%; }
  @media (min-width: 768px) {
    .modal-title {
      font-size: 26px;
      padding-left: 52px;
      background-size: 32px auto; } }

/*# sourceMappingURL=member.css.map */
