@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("//fonts.googleapis.com/css?family=Roboto:400,700");
@import url("//fonts.googleapis.com/css?family=Teko:400,600,700");
@import url("//fonts.googleapis.com/css?family=Oswald");
@import url(//cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url("//fonts.googleapis.com/css?family=Titillium+Web");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

#content {
  min-height: 500px; }

.guide-title {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  padding: 50px 0 20px; }

.form-group {
  margin-bottom: 0; }

.form-control {
  width: 100%;
  height: 45px;
  font-size: 14px;
  color: #999;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #e3e3e3; }
  .form-control:hover, .form-control:focus {
    box-shadow: none; }

label {
  font-weight: 400;
  margin: 0;
  padding: 0; }

.btn {
  border: 0;
  padding: 0;
  border-radius: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover, .btn:focus {
    opacity: .7; }

.page-header {
  position: relative;
  margin: 0;
  text-align: center;
  padding-bottom: 0;
  border-bottom: 0;
  border-bottom: 1px solid #0075bd; }
  .page-header .sub-visual {
    height: 275px;
    background-image: url(/assets/images/sub/bg_page_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 50%; }
    .page-header .sub-visual .page-title {
      font-size: 60px;
      line-height: 70px;
      color: #fff;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 5px;
      padding-top: 66px; }
  .page-header .lnb-nav {
    width: 100%; }
    .page-header .lnb-nav ul {
      font-size: 0;
      margin-left: -10px;
      margin-right: -10px; }
      .page-header .lnb-nav ul > li {
        position: relative;
        display: inline-block;
        width: 25%; }
        .page-header .lnb-nav ul > li > a {
          display: block;
          padding: 14px 0;
          text-decoration: none;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          font-family: 'NanumSquare', sans-serif; }
          .page-header .lnb-nav ul > li > a .s-title {
            display: block;
            font-size: 14px;
            font-weight: bold;
            color: #454545; }
        .page-header .lnb-nav ul > li:after {
          position: absolute;
          top: 50%;
          right: -3px;
          margin-top: -9px;
          font-size: 13px;
          color: #0075bd;
          content: "|"; }
        .page-header .lnb-nav ul > li:last-child:after {
          content: ""; }
        .page-header .lnb-nav ul > li.active a {
          background-color: #0075bd; }
          .page-header .lnb-nav ul > li.active a:after {
            content: ""; }
          .page-header .lnb-nav ul > li.active a .s-title {
            color: #fff; }
  @media (min-width: 768px) {
    .page-header .sub-visual {
      height: 390px;
      background-position: 50% 50%; }
      .page-header .sub-visual .page-title {
        padding-top: 55px;
        font-size: 80px;
        line-height: 130px; }
    .page-header .lnb-nav {
      position: absolute;
      left: 0;
      bottom: 35px; }
      .page-header .lnb-nav ul > li {
        padding: 0 10px; }
        .page-header .lnb-nav ul > li > a {
          padding: 10px 20px;
          height: 110px;
          text-align: left;
          background: none;
          border: 1px solid #fff; }
          .page-header .lnb-nav ul > li > a > div .stick {
            display: block;
            height: 28px;
            width: 1px;
            margin-left: 3px;
            margin-bottom: 15px;
            background-color: #fff; }
          .page-header .lnb-nav ul > li > a > div > p {
            font-size: 16px;
            line-height: 20px;
            color: #fff; }
        .page-header .lnb-nav ul > li:after {
          content: ""; }
        .page-header .lnb-nav ul > li.active a {
          border-color: #0075bd;
          background-color: rgba(0, 117, 189, 0.8); } }
  @media (min-width: 1200px) {
    .page-header .sub-visual {
      height: 530px; }
      .page-header .sub-visual .page-title {
        font-size: 105px;
        padding-top: 98px; }
    .page-header .lnb-nav {
      bottom: 60px; }
      .page-header .lnb-nav ul {
        margin: 0 -15px; }
        .page-header .lnb-nav ul > li {
          padding: 0 15px; }
          .page-header .lnb-nav ul > li > a {
            height: 145px;
            text-align: left;
            padding: 30px 10px 10px 30px; }
            .page-header .lnb-nav ul > li > a > div > p {
              font-size: 18px;
              line-height: 26px; }
            .page-header .lnb-nav ul > li > a > div small {
              position: absolute;
              top: 15px;
              right: 30px;
              font-size: 18px;
              color: #fff;
              letter-spacing: 1px;
              font-family: 'NanumSquare', sans-serif; }
          .page-header .lnb-nav ul > li.active a {
            position: relative;
            border-color: #0075bd;
            cursor: default; }
            .page-header .lnb-nav ul > li.active a:after {
              position: absolute;
              top: 50%;
              right: -12px;
              display: block;
              width: 24px;
              height: 24px;
              text-align: center;
              line-height: 24px;
              content: "\E805";
              font-size: 24px;
              padding-left: 2px;
              color: #1472ab;
              margin-top: -12px;
              font-family: "fontello";
              border-radius: 50%;
              background-color: #fff; }
          .page-header .lnb-nav ul > li:hover a, .page-header .lnb-nav ul > li:focus a {
            border-color: #0075bd;
            background-color: rgba(0, 117, 189, 0.8); } }

.section-header {
  padding-top: 45px; }
  @media (min-width: 768px) {
    .section-header {
      padding-top: 75px; } }
  @media (min-width: 1200px) {
    .section-header {
      padding-top: 110px; } }

.section-content {
  min-height: 300px; }

.section-title {
  font-size: 22px;
  color: #222;
  padding-left: 32px;
  font-family: 'NanumSquare', sans-serif;
  background-size: 22px auto;
  background-image: url(/assets/images/sub/icon_title_logo.png);
  background-repeat: no-repeat;
  background-position: 0 2px; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 26px;
      padding-left: 52px;
      background-size: 32px auto; } }

.search-form {
  position: relative;
  text-align: right; }
  .search-form .form-group {
    display: inline-block;
    width: 300px;
    font-size: 0; }
    .search-form .form-group select {
      width: 110px !important; }
    .search-form .form-group input {
      padding-right: 50px; }
    .search-form .form-group .form-control {
      display: inline-block;
      width: 180px;
      font-size: 14px;
      color: #999;
      margin-left: 10px; }
      .search-form .form-group .form-control:first-child {
        margin-left: 0; }
  .search-form .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #fff;
    line-height: 45px;
    padding: 0;
    border-radius: 0;
    background-color: #222; }
  @media (min-width: 768px) {
    .search-form .form-group {
      width: 350px; }
      .search-form .form-group .form-control {
        width: 230px; } }

.table-wrap .table {
  margin: 0;
  font-family: 'NanumSquare', sans-serif; }
.table-wrap .table.location {
  margin-bottom: 0; }
  .table-wrap .table.location tbody tr th {
    width: 95px;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    padding-left: 20px;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    background-color: #e3e3e3; }
    @media (min-width: 768px) {
      .table-wrap .table.location tbody tr th {
        width: 235px;
        font-size: 16px;
        padding-left: 40px;
        border-right: 1px solid #cecece; } }
  .table-wrap .table.location tbody tr td {
    font-size: 13px;
    color: #666;
    line-height: 18px;
    vertical-align: middle;
    padding: 20px 25px;
    border: 0;
    border-bottom: 1px solid #e5e5e5; }
    .table-wrap .table.location tbody tr td i {
      margin-right: 10px; }
    @media (min-width: 768px) {
      .table-wrap .table.location tbody tr td {
        font-size: 14px;
        padding: 25px 10px 25px 50px; } }
  .table-wrap .table.location tbody tr:first-child th {
    border-top: 1px solid #cecece; }
  .table-wrap .table.location tbody tr:first-child td {
    border-top: 1px solid #e5e5e5; }
  .table-wrap .table.location tbody tr:last-child th {
    border-bottom: 1px solid #e5e5e5; }
.table-wrap .table.list {
  border-top: 2px solid #222;
  table-layout: fixed; }
  .table-wrap .table.list tbody tr td {
    vertical-align: middle;
    padding: 18px 0;
    font-size: 13px;
    text-align: center;
    color: #666;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #d6d6d6; }
    .table-wrap .table.list tbody tr td.count {
      width: 60px; }
    .table-wrap .table.list tbody tr td.subject {
      text-align: left; }
      .table-wrap .table.list tbody tr td.subject a {
        display: block;
        color: #666;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .table-wrap .table.list tbody tr td.date {
      width: 100px; }
    @media (min-width: 768px) {
      .table-wrap .table.list tbody tr td {
        padding: 18px 0;
        font-size: 14px; }
        .table-wrap .table.list tbody tr td.count {
          width: 100px; }
        .table-wrap .table.list tbody tr td.subject {
          padding-left: 20px; }
          .table-wrap .table.list tbody tr td.subject a {
            font-size: 14px; }
        .table-wrap .table.list tbody tr td.date {
          width: 120px; } }
  .table-wrap .table.list tbody tr:last-child td {
    border-color: #6f848e; }
.table-wrap .table.write {
  border-top: 2px solid #000; }
  .table-wrap .table.write tbody tr th {
    width: 120px;
    vertical-align: middle;
    font-size: 13px;
    color: #444;
    font-weight: 600;
    border: 0;
    padding: 0;
    padding-left: 20px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #f5f5f5; }
    .table-wrap .table.write tbody tr th label {
      color: #444;
      font-weight: 600; }
    .table-wrap .table.write tbody tr th.v-align {
      vertical-align: top;
      padding-top: 20px; }
  .table-wrap .table.write tbody tr td {
    font-size: 13px;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #d6d6d6; }
    .table-wrap .table.write tbody tr td .form-group .form-control {
      height: 35px; }
    .table-wrap .table.write tbody tr td .form-group textarea {
      height: 160px !important; }
    .table-wrap .table.write tbody tr td.attach .form-group {
      position: relative;
      padding-right: 90px; }
      .table-wrap .table.write tbody tr td.attach .form-group label {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 35px;
        font-size: 13px;
        color: #fff;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
        background-color: #acacac;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .table-wrap .table.write tbody tr td.attach .form-group label:hover, .table-wrap .table.write tbody tr td.attach .form-group label:focus {
          opacity: .7; }
  @media (min-width: 768px) {
    .table-wrap .table.write tbody tr th {
      font-size: 15px;
      width: 130px; }
    .table-wrap .table.write tbody tr td {
      font-size: 15px; } }
  @media (min-width: 992px) {
    .table-wrap .table.write tbody tr th {
      width: 160px; }
    .table-wrap .table.write tbody tr td {
      padding-left: 20px;
      padding-right: 35px; }
      .table-wrap .table.write tbody tr td .form-group .form-control {
        width: 330px; }
      .table-wrap .table.write tbody tr td .form-group textarea {
        width: 100% !important; }
      .table-wrap .table.write tbody tr td.attach .form-group {
        width: 415px; }
        .table-wrap .table.write tbody tr td.attach .form-group .form-control {
          width: 100%; } }

.btn-area {
  text-align: center; }
  .btn-area p {
    font-size: 0; }
    .btn-area p ~ p {
      margin-top: 10px; }
    .btn-area p .btn {
      font-size: 14px;
      color: #fff;
      border-radius: 3px; }
      .btn-area p .btn:last-child {
        margin-right: 0; }
      .btn-area p .btn.btn-sm {
        width: 96px;
        height: 45px;
        line-height: 45px;
        margin-right: 6px; }
        .btn-area p .btn.btn-sm:last-child {
          margin-right: 0; }
        @media (min-width: 768px) {
          .btn-area p .btn.btn-sm {
            width: 85px;
            height: 38px;
            line-height: 38px; } }
      .btn-area p .btn.btn-md {
        width: 145px;
        height: 40px;
        line-height: 40px;
        margin-right: 10px; }
        .btn-area p .btn.btn-md:last-child {
          margin-right: 0; }
        @media (min-width: 768px) {
          .btn-area p .btn.btn-md {
            width: 84px;
            height: 38px;
            line-height: 38px;
            margin-right: 5px; } }
      .btn-area p .btn.btn-lg {
        width: 300px;
        height: 40px;
        line-height: 40px; }
        @media (min-width: 768px) {
          .btn-area p .btn.btn-lg {
            width: 85px;
            height: 38px;
            line-height: 38px; } }
      .btn-area p .btn.btn-gray {
        background-color: #adadad; }
      .btn-area p .btn.btn-black {
        background-color: #000; }

.paging {
  text-align: center; }
  .paging .pagination {
    margin: 0; }
    .paging .pagination li a {
      width: 28px;
      height: 28px;
      font-size: 13px;
      color: #666;
      padding: 0;
      line-height: 26px;
      margin: 0 2px;
      font-family: 'Roboto', sans-serif;
      border-radius: 3px;
      border: 1px solid #e1e1e1; }
      .paging .pagination li a:hover, .paging .pagination li a:focus {
        background-color: #fff; }
    .paging .pagination li.active a {
      color: #fff;
      border-color: #252525;
      background-color: #252525; }
    .paging .pagination li.next a {
      margin-left: 8px; }
      @media (min-width: 768px) {
        .paging .pagination li.next a {
          margin-left: 15px; } }
    .paging .pagination li.prev a {
      margin-right: 8px; }
      @media (min-width: 768px) {
        .paging .pagination li.prev a {
          margin-right: 15px; } }

.celebrity-cheer > ul > li ~ li a {
  margin-top: 40px; }
.celebrity-cheer > ul > li > a {
  display: block; }
  .celebrity-cheer > ul > li > a figure {
    position: relative; }
    .celebrity-cheer > ul > li > a figure .img-responsive {
      display: block;
      width: 100%;
      margin: 0 auto; }
    .celebrity-cheer > ul > li > a figure figcaption {
      position: absolute;
      bottom: 20px;
      left: 15px;
      font-size: 11px;
      color: #fff;
      line-height: 14px;
      padding-left: 40px;
      background-image: url(/assets/images/sub/summary_logo.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 28px auto; }
      .celebrity-cheer > ul > li > a figure figcaption small {
        display: block;
        font-size: 10px; }
@media (min-width: 768px) {
  .celebrity-cheer > ul > li:nth-of-type(2n + 1) {
    clear: both; }
  .celebrity-cheer > ul > li:nth-of-type(2) a {
    margin-top: 0; }
  .celebrity-cheer > ul > li a figure figcaption {
    left: 20px;
    bottom: 25px;
    font-size: 13px;
    line-height: 16px;
    padding-left: 45px;
    background-size: 32px auto; }
    .celebrity-cheer > ul > li a figure figcaption small {
      font-size: 12px; } }
@media (min-width: 992px) {
  .celebrity-cheer > ul > li ~ li a {
    margin-top: 30px; }
  .celebrity-cheer > ul > li:nth-of-type(3) a {
    margin-top: 0; }
  .celebrity-cheer > ul > li:nth-of-type(4) a {
    margin-top: 0; }
  .celebrity-cheer > ul > li:nth-of-type(2n + 1) {
    clear: none; }
  .celebrity-cheer > ul > li:nth-of-type(4n + 1) {
    clear: both; } }

.data-list {
  border-top: 2px solid #222; }
  .data-list > li {
    padding: 20px;
    border-bottom: 1px solid #d6d6d6; }
    .data-list > li a {
      display: block; }
      .data-list > li a .item .img-responsive {
        width: 100%;
        margin: 0 auto; }
      .data-list > li a .details {
        margin-top: 25px;
        font-family: 'NanumSquare', sans-serif; }
        .data-list > li a .details .date {
          font-size: 12px;
          color: #666;
          display: block;
          text-align: right;
          margin-bottom: 10px; }
        .data-list > li a .details .title {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 16px;
          color: #666;
          line-height: 20px;
          font-weight: 600; }
        .data-list > li a .details .summary {
          display: block;
          margin-top: 25px;
          font-size: 13px;
          color: #666;
          line-height: 18px; }
    @media (min-width: 768px) {
      .data-list > li {
        padding: 30px; }
        .data-list > li a .details {
          position: relative;
          margin-top: 0;
          margin-left: 30px; }
          .data-list > li a .details .date {
            font-size: 15px;
            color: #666;
            margin-bottom: 15px; }
          .data-list > li a .details .title {
            font-size: 18px; }
          .data-list > li a .details .summary {
            font-size: 14px;
            line-height: 24px; } }
    @media (min-width: 1200px) {
      .data-list > li {
        padding: 30px 45px; }
        .data-list > li a .details {
          position: relative;
          margin-top: 0;
          margin-left: 70px;
          padding-right: 100px; }
          .data-list > li a .details .date {
            position: absolute;
            top: 0;
            right: 0;
            margin-bottom: 0; }
          .data-list > li a .details .title {
            padding-top: 5px;
            font-size: 20px; }
          .data-list > li a .details .summary {
            margin-top: 40px; } }

.team-list > ul > li ~ li a {
  margin-top: 30px; }
.team-list > ul > li a {
  display: block;
  text-decoration: none; }
  .team-list > ul > li a .item .img-responsive {
    width: 100%;
    margin: 0 auto; }
  .team-list > ul > li a .details {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .team-list > ul > li a .details p {
      display: block;
      font-size: 14px;
      color: #666;
      text-align: left;
      line-height: 22px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    .team-list > ul > li a .details hr {
      width: 35px;
      border-top: 1px solid #e1e1e1;
      margin: 15px auto; }
    .team-list > ul > li a .details small {
      font-size: 12px;
      color: rgba(102, 102, 102, 0.5); }
  .team-list > ul > li a:hover .details, .team-list > ul > li a:focus .details {
    background-color: #268f3c; }
    .team-list > ul > li a:hover .details p, .team-list > ul > li a:focus .details p {
      color: #fff; }
    .team-list > ul > li a:hover .details hr, .team-list > ul > li a:focus .details hr {
      border-color: #fff; }
    .team-list > ul > li a:hover .details small, .team-list > ul > li a:focus .details small {
      color: #fff; }
@media (min-width: 768px) {
  .team-list > ul > li ~ li a {
    margin-top: 35px; }
  .team-list > ul > li:nth-of-type(2) a {
    margin-top: 0; }
  .team-list > ul > li:nth-of-type(2n + 1) {
    clear: both; } }
@media (min-width: 992px) {
  .team-list > ul > li:nth-of-type(3) a {
    margin-top: 0; }
  .team-list > ul > li:nth-of-type(2n + 1) {
    clear: none; }
  .team-list > ul > li:nth-of-type(3n + 1) {
    clear: both; }
  .team-list > ul > li a .details {
    padding: 35px 20px 25px; }
    .team-list > ul > li a .details p {
      font-size: 16px; }
    .team-list > ul > li a .details small {
      font-size: 14px; } }

.board-view .article-header {
  font-family: 'NanumSquare', sans-serif;
  border-top: 3px solid #000; }
  .board-view .article-header .title {
    font-size: 14px;
    color: #444;
    padding: 20px 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d6d6d6; }
  .board-view .article-header .writer-info {
    font-size: 0;
    padding: 20px 15px;
    border-bottom: 1px solid #d6d6d6; }
    .board-view .article-header .writer-info > li {
      display: inline-block; }
      .board-view .article-header .writer-info > li dl {
        display: inline-block; }
        .board-view .article-header .writer-info > li dl dt {
          font-size: 12px;
          color: #666;
          display: inline-block; }
          .board-view .article-header .writer-info > li dl dt:after {
            content: ":";
            margin: 0 5px; }
        .board-view .article-header .writer-info > li dl dd {
          font-size: 12px;
          color: #666;
          display: inline-block; }
      .board-view .article-header .writer-info > li:after {
        font-size: 12px;
        color: #d6d6d6;
        content: "|";
        margin: 0 15px; }
      .board-view .article-header .writer-info > li:last-child:after {
        content: ""; }
.board-view .article-content {
  font-family: 'NanumSquare', sans-serif;
  border-bottom: 1px solid #6f848e; }
  .board-view .article-content .view-content {
    font-size: 13px;
    line-height: 22px;
    color: #666;
    padding: 60px 10px 80px;
    border-bottom: 1px solid #d6d6d6; }
    .board-view .article-content .view-content figure .img-responsive {
      margin: 0 auto; }
  .board-view .article-content .attach-area {
    padding: 20px 15px; }
    .board-view .article-content .attach-area dt {
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
      color: #666;
      line-height: 26px;
      vertical-align: top; }
      .board-view .article-content .attach-area dt:after {
        content: ":";
        margin: 0 10px 0 5px; }
    .board-view .article-content .attach-area dd {
      vertical-align: top;
      font-size: 12px;
      display: inline-block; }
      .board-view .article-content .attach-area dd a {
        display: block;
        color: #666;
        line-height: 26px; }
        .board-view .article-content .attach-area dd a:before {
          font-family: "fontello";
          content: "\F0F6";
          margin-right: 8px; }
        .board-view .article-content .attach-area dd a:after {
          content: ",";
          margin-left: 3px; }
        .board-view .article-content .attach-area dd a:last-child:after {
          content: ""; }
.board-view .prev-next-link {
  margin-top: 45px;
  border-top: 1px solid #6f848e;
  border-bottom: 1px solid #6f848e; }
  .board-view .prev-next-link > ul > li {
    display: block; }
    .board-view .prev-next-link > ul > li:first-child {
      border-bottom: 1px solid #d6d6d6; }
    .board-view .prev-next-link > ul > li dl {
      position: relative;
      padding-left: 100px; }
      .board-view .prev-next-link > ul > li dl dt {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 60px;
        line-height: 60px;
        font-size: 13px;
        color: #666;
        font-weight: 400;
        text-align: center;
        background-color: #f5f5f5; }
        .board-view .prev-next-link > ul > li dl dt:after {
          margin-left: 15px;
          content: "\F105";
          font-family: "fontello"; }
      .board-view .prev-next-link > ul > li dl dd {
        width: 100%;
        height: 60px;
        padding: 0 25px;
        line-height: 60px; }
        .board-view .prev-next-link > ul > li dl dd a {
          font-size: 13px;
          color: #444;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
@media (min-width: 768px) {
  .board-view .article-header .title {
    font-size: 16px; }
  .board-view .article-header .writer-info > li dl dt {
    font-size: 14px; }
  .board-view .article-header .writer-info > li dl dd {
    font-size: 14px; }
  .board-view .article-content .view-content {
    padding: 80px 30px 100px; }
  .board-view .article-content .attach-area dt {
    font-size: 14px;
    line-height: 28px; }
    .board-view .article-content .attach-area dt:after {
      content: ":";
      margin: 0 10px 0 10px; }
  .board-view .article-content .attach-area dd {
    font-size: 14px; }
    .board-view .article-content .attach-area dd a {
      color: #666;
      line-height: 28px; }
  .board-view .prev-next-link {
    margin-top: 55px; }
    .board-view .prev-next-link > ul > li dl {
      padding-left: 120px; }
      .board-view .prev-next-link > ul > li dl dt {
        width: 120px;
        font-size: 15px; }
      .board-view .prev-next-link > ul > li dl dd a {
        font-size: 14px; } }
@media (min-width: 1200px) {
  .board-view .article-content .view-content {
    padding: 100px 40px; }
  .board-view .prev-next-link {
    margin-top: 70px; } }

/*# sourceMappingURL=sub.css.map */
