@import 'common';


#content {
    min-height: 500px;
}
// guide-title
.guide-title {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    padding: 50px 0 20px;
}

// common style
.form-group {
    margin-bottom: 0;
}
.form-control {
    width: 100%;
    height: 45px;
    font-size: 14px;
    color: #999;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #e3e3e3;
    &:hover, &:focus {
        box-shadow: none;
    }
}
label {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.btn {
    border: 0;
    padding: 0;
    border-radius: 0;
    @include transition();
    &:hover, &:focus {
        opacity: .7;
    }
}



// page header
.page-header {
    position: relative;
    margin: 0;
    text-align: center;
    padding-bottom: 0;
    border-bottom: 0;
    border-bottom: 1px solid #0075bd;
    .sub-visual {
        height: 275px;
        background-image: url(/assets/images/sub/bg_page_header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 70% 50%;
        .page-title {
            font-size: 60px;
            line-height: 70px;
            color: #fff;
            @include oswald();
            letter-spacing: 5px;
            padding-top: 66px;
            img {
                display: inline-block;
                &.title-xs {
                    
                }
                &.title-sm {
                    display: none;
                }
                &.title-md {
                    display: none;
                }
                @media(min-width: $sm) {
                    &.title-xs {
                        display: none;
                    }
                    &.title-sm {
                        display: inline-block;
                    }
                    &.title-md {
                        display: none;
                    }
                }
                @media(min-width: $md) {
                    &.title-sm {
                        display: none;
                    }
                    &.title-md {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .lnb-nav {
        width: 100%;
        ul {
            font-size: 0;
            margin-left: -10px;
            margin-right: -10px;
            > li {
                position: relative;
                display: inline-block;
                width: 25%;
                > a {
                    display: block;
                    padding: 14px 0;
                    text-decoration: none;
                    @include transition();
                    @include square();
                    .s-title {
                        display: block;
                        font-size: 14px;
                        font-weight: bold;
                        color: #454545;
                    }
                }
                &:after {
                    position: absolute;
                    top: 50%;
                    right: -3px;
                    margin-top: -9px;
                    font-size: 13px;
                    color: #0075bd;
                    content: "|";
                }
                &:last-child {
                    &:after {
                        content: "";
                    }
                }
                &.active {
                    a {
                        background-color: #0075bd;
                        &:after {
                            content: "";
                        }
                        .s-title {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .sub-visual {
            height: 390px;
            background-position: 50% 50%;
            .page-title {
                padding-top: 55px;
                font-size: 80px;
                line-height: 130px;
            }
        }
        .lnb-nav {
            position: absolute;
            left: 0;
            bottom: 35px;
            ul {
                > li {
                    padding: 0 10px;
                    > a {
                        padding: 10px 20px;
                        height: 110px;
                        text-align: left;
                        background: none;
                        border: 1px solid #fff;
                        > div {
                            .stick {
                                display: block;
                                height: 28px;
                                width: 1px;
                                margin-left: 3px;
                                margin-bottom: 15px;
                                background-color: #fff;
                            }
                            > p {
                                font-size: 16px;
                                line-height: 20px;
                                color: #fff;
                            }
                        }
                    }
                    &:after {
                        content: "";
                    }
                    &.active {
                        a {
                            border-color: #0075bd;
                            background-color: rgba(#0075bd, .8);
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .sub-visual {
            height: 530px;
            .page-title {
                font-size: 105px;
                padding-top: 98px;
            }
        }
        .lnb-nav {
            bottom: 60px;
            ul {
                margin: 0 -15px;
                > li {
                    padding: 0 15px;
                    > a {
                        height: 145px;
                        text-align: left;
                        padding: 30px 10px 10px 30px;
                        > div {
                            > p {
                                font-size: 18px;
                                line-height: 26px;
                            }
                            small {
                                position: absolute;
                                top: 15px;
                                right: 30px;
                                font-size: 18px;
                                color: #fff;
                                letter-spacing: 1px;
                                @include square();
                            }
                        }
                    }
                    &.active {
                        a {
                            position: relative;
                            border-color: #0075bd;
                            cursor: default;
                            &:after {
                                position: absolute;
                                top: 50%;
                                right: -12px;
                                display: block;
                                width: 24px;
                                height: 24px;
                                text-align: center;
                                line-height: 24px;
                                content: "\E805";
                                font-size: 24px;
                                padding-left: 2px;
                                color: #1472ab;
                                margin-top: -12px;
                                font-family: "fontello";
                                border-radius: 50%;
                                background-color: #fff;
                            }
                        }
                    }
                    &:hover, &:focus {
                        a {
                            border-color: #0075bd;
                            background-color: rgba(#0075bd, .8);
                        }
                    }
                }
            }
        }
    }
}

// Section 공통
.section-header {
    padding-top: 45px;
    @media(min-width: $sm) {
        padding-top: 75px;
    }
    @media(min-width: $lg) {
        padding-top: 110px;
    }
}
.section-content {
    min-height: 300px;
}
.section-title {
    font-size: 22px;
    color: #222;
    padding-left: 32px;
    @include square();
    background-size: 22px auto;
    background-image: url(/assets/images/sub/icon_title_logo.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
    @media(min-width: $sm) {
        font-size: 26px;
        padding-left: 52px;
        background-size: 32px auto;
    }
}

// 검색폼
.search-form {
    position: relative;
    text-align: right;
    .form-group {
        display: inline-block;
        width: 300px;
        font-size: 0;
        select {
            width: 110px !important;
        }
        input {
            padding-right: 50px;
        }
        .form-control {
            display: inline-block;
            width: 180px;
            font-size: 14px;
            color: #999;
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .btn-search {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        font-size: 20px;
        color: #fff;
        line-height: 45px;
        padding: 0;
        border-radius: 0;
        background-color: #222;
    }
    @media(min-width: $sm) {
        .form-group {
            width: 350px;
            .form-control {
                width: 230px;
            }
        }
    }
}

// 테이블 
.table-wrap {
    .table {
        margin: 0;
        @include square();
    }
    .table.location {
        margin-bottom: 0;
        tbody {
            tr {
                th {
                    width: 95px;
                    font-size: 14px;
                    color: #333;
                    font-weight: 500;
                    padding-left: 20px;
                    vertical-align: middle;
                    border: 0;
                    border-bottom: 1px solid #f5f5f5;
                    background-color: #e3e3e3;
                    @media(min-width: $sm) {
                        width: 235px;
                        font-size: 16px;
                        padding-left: 40px;
                        border-right: 1px solid #cecece;
                    }
                }
                td {
                    font-size: 13px;
                    color: #666;
                    line-height: 18px;
                    vertical-align: middle;
                    padding: 20px 25px;
                    border: 0;
                    border-bottom: 1px solid #e5e5e5;
                    i {
                        margin-right: 10px;
                    }
                    @media(min-width: $sm) {
                        font-size: 14px;
                        padding: 25px 10px 25px 50px;
                    }
                }
                &:first-child {
                    th {
                        border-top: 1px solid #cecece;
                    }
                    td {
                        border-top: 1px solid #e5e5e5;
                    }
                }
                &:last-child {
                    th {
                        border-bottom: 1px solid #e5e5e5;
                    }
                }
            }
        }
    }
    .table.list {
        border-top: 2px solid #222;
        table-layout: fixed;
        tbody {
            tr {
                td {
                    vertical-align: middle;
                    padding: 18px 0;
                    font-size: 13px;
                    text-align: center;
                    color: #666;
                    font-weight: 400;
                    border: 0;
                    border-bottom: 1px solid #d6d6d6;
                    &.count {
                        width: 60px;
                    }
                    &.subject {
                        text-align: left;
                        a {
                            display: block;
                            color: #666;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                    &.date {
                        width: 100px;
                    }
                    @media(min-width: $sm) {
                        padding: 18px 0;
                        font-size: 14px;
                        &.count {
                            width: 100px;
                        }
                        &.subject {
                            padding-left: 20px;
                            a {
                                font-size: 14px;
                            }
                        }
                        &.date {
                            width: 120px;
                        }
                    }
                }
                &:last-child {
                    td {
                        border-color: #6f848e;
                    }
                }
            }
        }
    }
    .table.write {
        border-top: 2px solid #000;
        tbody {
            tr {
                th {
                    width: 120px;
                    vertical-align: middle;
                    font-size: 13px;
                    color: #444;
                    font-weight: 600;
                    border: 0;
                    padding: 0;
                    padding-left: 20px;
                    border-bottom: 1px solid #d6d6d6;
                    background-color: #f5f5f5;
                    label {
                        color: #444;
                        font-weight: 600;
                    }
                    &.v-align {
                        vertical-align: top;
                        padding-top: 20px;
                    }
                }
                td {
                    font-size: 13px;
                    padding: 10px;
                    border: 0;
                    border-bottom: 1px solid #d6d6d6;
                    .form-group {
                        .form-control {
                            height: 35px;
                        }
                        textarea {
                            height: 160px !important;
                        }
                    }
                    &.attach {
                        .form-group {
                            position: relative;
                            padding-right: 90px;
                            .form-control {
                                
                            }
                            label {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 80px;
                                height: 35px;
                                font-size: 13px;
                                color: #fff;
                                text-align: center;
                                line-height: 35px;
                                cursor: pointer;
                                background-color: #acacac;
                                @include transition();
                                &:hover, &:focus {
                                    opacity: .7;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $sm) {
                    th {
                        font-size: 15px;
                        width: 130px;
                    }
                    td {
                        font-size: 15px;
                    }
                }
                @media(min-width: $md) {
                    th {
                        width: 160px;
                    }
                    td {
                        padding-left: 20px;
                        padding-right: 35px;
                        .form-group {
                            .form-control {
                                width: 330px;
                            }
                            textarea {
                                width: 100% !important;
                            }
                        }
                        &.attach {
                            .form-group {
                                width: 415px;
                                .form-control {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// 버튼 리스트
.btn-area {
    text-align: center;
    p {
        font-size: 0;
        & ~ p {
            margin-top: 10px;
        }
        .btn {
            font-size: 14px;
            color: #fff;
            border-radius: 3px;
            &:last-child {
                margin-right: 0;
            }
            &.btn-sm {
                width: 96px;
                height: 45px;
                line-height: 45px;
                margin-right: 6px;
                &:last-child {
                    margin-right: 0;
                }
                @media(min-width: $sm) {
                    width: 85px;
                    height: 38px;
                    line-height: 38px;
                }
            }
            &.btn-md {
                width: 145px;
                height: 40px;
                line-height: 40px;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                @media(min-width: $sm) {
                    width: 84px;
                    height: 38px;
                    line-height: 38px;
                    margin-right: 5px;
                }
            }
            &.btn-lg {
                width: 300px;
                height: 40px;
                line-height: 40px;
                @media(min-width: $sm) {
                    width: 85px;
                    height: 38px;
                    line-height: 38px;
                }
            }
            &.btn-gray {
                background-color: #adadad;
            }
            &.btn-black {
                background-color: #000;
            }
        }
    }
}

// 페이징
.paging {
    text-align: center;
    .pagination {
        margin: 0;
        li {
            a {
                width: 28px;
                height: 28px;
                font-size: 13px;
                color: #666;
                padding: 0;
                line-height: 26px;
                margin: 0 2px;
                @include roboto();
                border-radius: 3px;
                border: 1px solid #e1e1e1;
                &:hover, &:focus {
                    background-color: #fff;
                }
            }
            &.active {
                a {
                    color: #fff;
                    border-color: #252525;
                    background-color: #252525;
                }
            }
            &.next {
                a {
                    margin-left: 8px;
                    @media(min-width: $sm) {
                        margin-left: 15px;
                    }
                }
            }
            &.prev {
                a {
                    margin-right: 8px;
                    @media(min-width: $sm) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}


// 연예인 응원
.celebrity-cheer {
    > ul {
        > li {
            & ~ li {
                a {
                    margin-top: 40px;
                }
            }
            > a {
                display: block;
                figure {
                    position: relative;
                    .img-responsive {
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                    }
                    figcaption {
                        position: absolute;
                        bottom: 20px;
                        left: 15px;
                        font-size: 11px;
                        color: #fff;
                        line-height: 14px;
                        padding-left: 40px;
                        background-image: url(/assets/images/sub/summary_logo.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        background-size: 28px auto;
                        small {
                            display: block;
                            font-size: 10px;
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                &:nth-of-type(2n + 1) {
                    clear: both;
                }
                &:nth-of-type(2) {
                    a {
                        margin-top: 0;
                    }
                }
                a {
                    figure {
                        figcaption {
                            left: 20px;
                            bottom: 25px;
                            font-size: 13px;
                            line-height: 16px;
                            padding-left: 45px;
                            background-size: 32px auto;
                            small {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            @media(min-width: $md) {
                & ~ li {
                    a {
                        margin-top: 30px;
                    }
                }
                &:nth-of-type(3) {
                    a {
                        margin-top: 0;
                    }
                }
                &:nth-of-type(4) {
                    a {
                        margin-top: 0;
                    }
                }
                &:nth-of-type(2n + 1) {
                    clear: none;
                }
                &:nth-of-type(4n + 1) {
                    clear: both;
                }
            }
        }
    }
}

// 보도자료 리스트
.data-list {
    border-top: 2px solid #222;
    > li {
        padding: 20px;
        border-bottom: 1px solid #d6d6d6;
        a {
            display: block;
            .item {
                .img-responsive {
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .details {
                margin-top: 25px;
                @include square();
                .date {
                    font-size: 12px;
                    color: #666;
                    display: block;
                    text-align: right;
                    margin-bottom: 10px;
                }
                .title {
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    color: #666;
                    line-height: 20px;
                    font-weight: 600;
                }
                .summary {
                    display: block;
                    margin-top: 25px;
                    font-size: 13px;
                    color: #666;
                    line-height: 18px;
                }
            }
        }
        @media(min-width: $sm) {
            padding: 30px;
            a {
                .details {
                    position: relative;
                    margin-top: 0;
                    margin-left: 30px;
                    
                    .date {
                        font-size: 15px;
                        color: #666;
                        margin-bottom: 15px;
                    }
                    .title {
                        font-size: 18px;
                    }
                    .summary {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
        @media(min-width: $lg) {
            padding: 30px 45px;
            a {
                .details {
                    position: relative;
                    margin-top: 0;
                    margin-left: 70px;
                    padding-right: 100px;
                    .date {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-bottom: 0;
                    }
                    .title {
                        padding-top: 5px;
                        font-size: 20px;
                    }
                    .summary {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}

// 팀 화이트타이거즈
.team-list {
    > ul {
        > li {
            & ~ li {
                a {
                    margin-top: 30px;
                }
            }
            a {
                display: block;
                text-decoration: none;
                .item {
                    .img-responsive {
                        width: 100%;
                        margin: 0 auto;
                    }
                }
                .details {
                    padding: 20px;
                    text-align: center;
                    background-color: #f4f4f4;
                    @include transition();
                    p {
                        display: block;
                        font-size: 14px;
                        color: #666;
                        text-align: left;
                        line-height: 22px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    hr {
                        width: 35px;
                        border-top: 1px solid #e1e1e1;
                        margin: 15px auto;
                    }
                    small {
                        font-size: 12px;
                        color: rgba(#666, .5);
                    }
                }
                &:hover, &:focus {
                    .item {

                    }
                    .details {
                        background-color: #268f3c;
                        p {
                            color: #fff;
                        }
                        hr {
                            border-color: #fff;
                        }
                        small {
                            color: #fff;
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                & ~ li {
                    a {
                        margin-top: 35px;
                    }
                }
                &:nth-of-type(2) {
                    a {
                        margin-top: 0;
                    }
                }
                &:nth-of-type(2n + 1) {
                    clear: both;
                }
            }
            @media(min-width: $md) {
                &:nth-of-type(3) {
                    a {
                        margin-top: 0;
                    }
                }
                &:nth-of-type(2n + 1) {
                    clear: none;
                }
                &:nth-of-type(3n + 1) {
                    clear: both;
                }
                a {
                    .details {
                        padding: 35px 20px 25px;
                        p {
                            font-size: 16px;
                        }
                        small {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

// 게시판 뷰
.board-view {
    .article-header {
        @include square();
        border-top: 3px solid #000;
        .title {
            font-size: 14px;
            color: #444;
            padding: 20px 15px;
            background-color: #f5f5f5;
            border-bottom: 1px solid #d6d6d6;
        }
        .writer-info {
            font-size: 0;
            padding: 20px 15px;
            border-bottom: 1px solid #d6d6d6;;
            > li {
                display: inline-block;
                dl {
                    display: inline-block;
                    dt {
                        font-size: 12px;
                        color: #666;
                        display: inline-block;
                        &:after {
                            content: ":";
                            margin: 0 5px;
                        }
                    }
                    dd {
                        font-size: 12px;
                        color: #666;
                        display: inline-block;
                    }
                }
                &:after {
                    font-size: 12px;
                    color: #d6d6d6;
                    content: "|";
                    margin: 0 15px;
                }
                &:last-child {
                    &:after {
                        content: "";
                    }
                }
            }
        }
    }
    .article-content {
        @include square();
        border-bottom: 1px solid #6f848e;
        .view-content {
            font-size: 13px;
            line-height: 22px;
            color: #666;
            padding: 60px 10px 80px;
            border-bottom: 1px solid #d6d6d6;
            figure {
                .img-responsive {
                    margin: 0 auto;
                }
            }
        }
        .attach-area {
            padding: 20px 15px;
            dt {
                display: inline-block;
                font-size: 12px;
                font-weight: 400;
                color: #666;
                line-height: 26px;
                vertical-align: top;
                &:after {
                    content: ":";
                    margin: 0 10px 0 5px;
                }
            }
            dd {
                vertical-align: top;
                font-size: 12px;
                display: inline-block;
                a {
                    display: block;
                    color: #666;
                    line-height: 26px;
                    &:before {
                        font-family: "fontello";
                        content: "\F0F6";
                        margin-right: 8px;
                    }
                    &:after {
                        content: ",";
                        margin-left: 3px;
                    }
                    &:last-child {
                        &:after {
                            content: "";
                        }
                    }
                }
            }
        }
    }
    .prev-next-link {
        margin-top: 45px;
        border-top: 1px solid #6f848e;
        border-bottom: 1px solid #6f848e;
        > ul {
            > li {
                display: block;
                &:first-child {
                    border-bottom: 1px solid #d6d6d6;
                }
                dl {
                    position: relative;
                    padding-left: 100px;
                    dt {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100px;
                        height: 60px;
                        line-height: 60px;
                        font-size: 13px;
                        color: #666;
                        font-weight: 400;
                        text-align: center;
                        background-color: #f5f5f5;
                        &:after {
                            margin-left: 15px;
                            content: "\F105";
                            font-family: "fontello";
                        }
                    }
                    dd {
                        width: 100%;
                        height: 60px;
                        padding: 0 25px;
                        line-height: 60px;
                        a {
                            font-size: 13px;
                            color: #444;
                            display: block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .article-header {
            .title {
                font-size: 16px;
            }
            .writer-info {
                > li {
                    dl {
                        dt {
                            font-size: 14px;
                        }
                        dd {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .article-content {
            .view-content {
                padding: 80px 30px 100px;
            }
            .attach-area {
                dt {
                    font-size: 14px;
                    line-height: 28px;
                    &:after {
                        content: ":";
                        margin: 0 10px 0 10px;
                    }
                }
                dd {
                    font-size: 14px;
                    a {
                        color: #666;
                        line-height: 28px;
                    }
                }
            }
        }
        .prev-next-link {
            margin-top: 55px;
            > ul {
                > li {
                    dl {
                        padding-left: 120px;
                        dt {
                            width: 120px;
                            font-size: 15px;
                        }
                        dd {
                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .article-content {
            .view-content {
                padding: 100px 40px;
            }
        }
        .prev-next-link {
            margin-top: 70px;
        }
    }
}